{# vim: set filetype=htmldjango :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.wizards.WizardStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- text_template: string (template path)
 %  -- form_template: string (template path)
 %
{% endcomment %}

<form class="form-horizontal ajax" method="post" 
      action="{% url 'inforequests:new_action_appeal2' inforequest.pk branch.pk %}">
  {% csrf_token %}
  {{ step.state_field }}
  <div class="modal-header">
    {% block "header" %}
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3>
        {% block "header-heading" %}
          {% include "inforequests/appeals/texts/base-heading.txt" %}
        {% endblock %}
        {% block "header-step" %}
          ({{ step.step_number }}/{{ wizard.number_of_steps }})
        {% endblock %}
      </h3>
    {% endblock %}
  </div>
  <div class="modal-body">
    {% block "body" %}
      {% block "body-text" %}
        {% if text_template %}{% include text_template %}{% endif %}
      {% endblock %}
      {% block "body-form" %}
        {% if form_template %}<div>{% include form_template with form=step %}</div>{% endif %}
      {% endblock %}
    {% endblock %}
  </div>
  <div class="modal-footer">
    {% block "footer" %}
      {% block "footer-save" %}
        <button type="submit" class="btn" name="button" value="save">
          <i class="icon-file"></i> {% trans 'inforequests:appeals:save' %}
        </button>
      {% endblock %}
      {% block "footer-prev" %}
        {% if not step.is_first %}
          <button type="submit" class="btn" name="button" value="prev">
            <i class="icon-chevron-left"></i> {% trans 'inforequests:appeals:prev' %}
          </button>
        {% endif %}
      {% endblock %}
      {% block "footer-next" %}
        {% if not step.is_last %}
          <button type="submit" class="btn btn-primary" name="button" value="next">
            <i class="icon-chevron-right icon-white"></i> {% trans 'inforequests:appeals:next' %}
          </button>
        {% else %}
          <button type="submit" class="btn btn-primary" name="button" value="next">
            <i class="icon-chevron-right icon-white"></i> {% trans 'inforequests:appeals:finish' %}
          </button>
        {% endif %}
      {% endblock %}
      {% block "footer-close" %}
        <button type="button" class="btn" data-dismiss="modal">
          <i class="icon-remove"></i> {% trans 'inforequests:appeals:close' %}
        </button>
      {% endblock %}
    {% endblock %}
  </div>
</form>
