{# vim: set filetype=htmldjango :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.wizard.WizardStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %
{% endcomment %}

<form class="form-horizontal ajax" method="post" 
      action="{% url 'inforequests:new_action_appeal2' inforequest.pk branch.pk %}">
  {% csrf_token %}
  {{ step.state_field }}
  <div class="modal-header">
    {% block "header" %}
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    {% endblock %}
  </div>
  <div class="modal-body">
    {% block "body" %}
      <div>
        {% include "main/snippets/form_horizontal.html" with form=step %}
      </div>
    {% endblock %}
  </div>
  <div class="modal-footer">
    {% block "footer" %}
      {% if not step.is_first %}
        <button type="submit" class="btn" name="button" value="prev">
          <i class="icon-chevron-left"></i> {% trans 'inforequests:appeals:prev' %}
        </button>
      {% endif %}
      {% if not step.is_last %}
        <button type="submit" class="btn btn-primary" name="button" value="next">
          <i class="icon-chevron-right icon-white"></i> {% trans 'inforequests:appeals:next' %}
        </button>
      {% else %}
        <button type="submit" class="btn btn-primary" name="button" value="next">
          <i class="icon-chevron-right icon-white"></i> {% trans 'inforequests:appeals:finish' %}
        </button>
      {% endif %}
      <button type="button" class="btn" data-dismiss="modal">
        <i class="icon-remove"></i> {% trans 'inforequests:appeals:close' %}
      </button>
    {% endblock %}
  </div>
</form>
