{# vim: set filetype=htmldjango :#}
{% extends "inforequests/appeals/base.html" %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.AppealDeadEndStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- text_template: string (template path)
 %
{% endcomment %}

{% block "header-step" %}{% endblock %}
{% block "footer-save" %}{% endblock %}
{% block "footer-next" %}{% endblock %}
