{# vim: set filetype=htmldjango :#}
{% extends "inforequests/appeals/base.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.AppealFinalStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %
{% endcomment %}

{% block "body" %}
  {{ block.super }}
  <div class="action-content">
    <div id="print-area-{{ wizard.instance_id }}">
      {{ appeal_content }}
    </div>
  </div>
{% endblock %}

{% block "footer" %}
  <button type="button" class="btn print" data-target="#print-area-{{ wizard.instance_id }}">
    <i class="icon-print"></i> {% trans 'inforequests:appeals:print' %}
  </button>
  {{ block.super }}
{% endblock %}
