{# vim: set filetype=htmldjango :#}
{% extends "inforequests/appeals/base.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.AppealFinalStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- appeal_subject: string
 %  -- appeal_content: html
 %  -- effective_date: datetime.date
 %  -- deadline_missed_at_today: bool | undefined
 %  -- deadline_remaining_at_today: int | undefined
 %  -- deadline_missed_at_effective_date: bool | undefined
 %  -- deadline_remaining_at_effective_date: int | undefined
 %
{% endcomment %}

{% block "body" %}
  {% include "inforequests/appeals/texts/final-text.html" %}
  {% if deadline_missed_at_today %}
    <div class="alert alert-block">
      {% include "inforequests/appeals/texts/final-deadline-missed.html" %}
    </div>
  {% elif deadline_missed_at_effective_date %}
    <div class="alert alert-block">
      {% include "inforequests/appeals/texts/final-deadline-missed-at-date.html" %}
    </div>
  {% endif %}
  <div class="action-content">
    <div id="print-area-{{ wizard.instance_id }}">
      {{ appeal_content }}
    </div>
  </div>
{% endblock %}

{% block "footer" %}
  <button type="button" class="btn print" data-target="#print-area-{{ wizard.instance_id }}">
    <i class="icon-print"></i> {% trans 'inforequests:appeals:print' %}
  </button>
  {{ block.super }}
{% endblock %}
