{# vim: set filetype=htmldjango :#}
{% extends "inforequests/appeals/base.html" %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.AppealPaperStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %
{% endcomment %}

{% block "body" %}
  {{ block.super }}
  <div class="control-group error">
    <span class="help-block">{{ step.non_field_errors|join:" " }}</span>
  </div>
  <div class="action-content">
    {% include step.content_template %}
  </div>
{% endblock %}
