{# vim: set filetype=htmldjango :#}
{% extends "inforequests/appeals/base.html" %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.AppealSectionStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- text_template: string (template path)
 %  -- section_template: string (template path)
 %
{% endcomment %}

{% block "body" %}
  {% if text_template %}{% include text_template %}{% endif %}
  {% if section_template %}
    <div class="well">
      {% include section_template %}
    </div>
  {% endif %}
{% endblock %}
