{# vim: set filetype=htmldjango :#}
{% extends "inforequests/appeals/base.html" %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.AppealSectionStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %
{% endcomment %}

{% block "body" %}
  {{ block.super }}
  {% if step.section_template %}
    <div class="well paper-section">
      {% include step.section_template %}
    </div>
  {% endif %}
{% endblock %}
