{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block title %}About Project | {{ block.super }}{% endblock %}

{% block content %}
  <h1>A portal for FOIA requests for the lazy</h1>
  <p>The aim of the project is to guide people through the process of requesting the information
  from state institutions according to the FOIA. Freedom of information requests are very useful
  for transparency, however, ordinary people may not be aware of all details of the procedure.</p>
  <p>Suppose a guy named Michal wants to see electricity bill for the August 2011 of Ministry of
  Industry. However, Michal is not a lawyer, he does not have time to study the law to find out how
  can he apply for the information and what is necessary to write a lawful, proper
  request.Our&nbsp; portal enables Michal to simply write his address, select the Ministry of
  Industry from the menu, and write one line stating what information he needs. The text of the
  request will be generated automatically. After sending the request, Michal waits until the
  Ministry respods. After 8 days, he receives a notification from the system, that a time period
  for the Ministry has passed. If Michal has already received the information, he can upload the
  data to share with other users. If not -- it sometimes happens that an institution simply ignores
  the request --  Michal can generate a formal appeal with a simple click. The portal also helps
  Michal with the postal receipt, because the appeal has to be send by snail-mail. A new period for
  the Ministry to issue a decision is set (15 days). Michal can share the decision of the Ministry
  with others. The portal also collects statistics about how the institutions respond to the
  requests.</p>
  <p>We think this will ecourage people to request the information and we also hope this can help
  to increase the chance the request will be successfull.</p>

<p>
To sumbit an inforequest you do not need any type of form or electronic signature. Tour name and postal address are automatically included in the request in case your request will be denied -- written resolution is always send in a paper form. Our portal creates a unique identifier for every request. This enables us to track every request automatically, together with the answers, deadlines, simply everything, what constitutes the state of the request.
</p>


<h3>Legal information about FOIA process in Slovak Republic</h3>
(which you do not have to read)
<ul>

<li>The institution is not obliged to "create" the information. If the information is available, it will be provided after excluding sensitive information. However, institutions are not obliged to create any type of analysis or summaries.
<li>It is sometimes said in Slovakia, that the requestors are trying to "harass" or "overload" the institution. We do not think this is appropriate. We believe that it is often a "FUD" attempt from politicians trying to avoid transparency. 
<li>In case of complicated request, the institutions have legal possibilities how to increase a deadline. It has been shown that the institutions which were complaining about the burden of FOIA requests were not using the legal possibilities of prolongation, or were mostly making the stuff up.
<li>If the institution is obliged to answer, they must either provide the information or issue a resolution. An inaction is not a legal option for the institution (see case A.L. vs. Univerzita Komenskeho, 19 S 31/02).</li>
<li>However, we acknowledge that people are sometimes misusing the FOIA request to complain. We will try to avoid these minor cases where the request does not serve its legal purpose. We believe that the reason is people did not get enough information about the purpose and process of FOIA requests. We will educate our users to prevent this. We can also redirect users to create a formal complaint instead. We might also put filters and rules to prevent spams, threats or other misuse.  
<li>The obligee must resolve an repeated FOIA request. The rationale is that the conditions for eventual information denial might have change since the previous request. </li>
<li> <a href="http://www.urzd.sk/legislativa/211-00-en.pdf" >Freedom Of Information Act 211/2000 Coll.</a> - english version of the law</li>
</ul>


{% endblock %}
