{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block title %}O projekte | {{ block.super }}{% endblock %}

{% block content %}
  <h1>O projekte</h1>
  <p>Riadime sa heslom “Infozákon pre lenivých”. Z procesu podávania infožiadostí chceme spraviť
  jednoduchú a čo najmenej náročnú úlohu. ChcemVedieť.sk umožňuje podať infožiadosti
  poloautomatizovaným spôsobom - obsahuje šablóny zabezpečujúce formálnu správnosť žiadostí
  a zabudovaný mechanizmus na ich odosielanie jednotlivým inštitúciám. Aplikácia ďalej upozorňuje
  na termíny prostredníctvom notifikácií a umožňuje proces vybavovania žiadostí lepšie sledovať.
  Plánuje tiež zhromažďovať vybavené žiadosti a ich obsah sprístupňovať ostatným občanom, čím sa
  môže predísť zahlcovaniu úradov viacnásobnými totožnými infožiadosťami.</p>
  <p>Portál je prispôsobený na slovenské legislatívne podmienky, prevedie užívateľa celým
  procesom.</p>
  <p>Chceli by sme tiež, aby zasielané žiadosti vyhovovali akejsi "etikete": aby&nbsp; neboli
  urážlivé, ale napríklad aj, aby to neboli sťažnosti -- tie sa riadia úplne iným zákonom (9/2009
  Z.z. o sťažnostiach). Inými slovami, aby náš server mal určitú reputáciu.</p>
{% endblock %}
