{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block title %}{{ block.super }}{% endblock %}

{% block main_col %}
  <div class="hero-unit">
    <h1>Vitajte na "Chcem vedieť"</h1>
    <p>Infozákon pre lenivých &mdash; pohodlné podávanie žiadostí o informácie. </p><p>Umožňuje podať
    formálne správnu žiadosť, odsledovať celý proces, dostávať notifikácie o uplynutých lehotách
    a zdieľať informácie s ostatnými používateľmi. </p>
    <p><a class="btn btn-primary btn-large" href="/sk/o-projekte/">Čítajte viac »</a></p>
  </div>
  <h2>Čo a ako?</h2>
  <p>Bežný človek nemá čas študovať zákon, nepozná lehoty a potrebné formality. Chceme umožniť
  zdieľanie know-how v tejto oblasti -- ak už sa niekomu podarilo informáciu podobného typu získať,
  pomôže a povzbudí to ostatných. Možno tiež vyhľadávať v získaných informáciach, čo pomôže
  informovanosti občanov a zníži zaťaženie úradníkov.</p>
  <p> Prostredníctvom žiadosti o informácie môžete od inštitúcie získať informácie, ktoré má daná
  inštitúcia k dispozícii. Nepotrebujete zdôvodňovať, na čo vám to bude -- o informácie môže
  požiadať každý.</p>
  <p>Ale: </p>
  <ul>
    <li>nie osobné údaje iných ľudí, alebo utajené informácie -- tieto budú vyčiernené</li>
    <li>inštitúcia nie je povinná informáciu "vyrábať", iba ju vyhľadať -- nie je povinná napr.
    vyhotoviť analýzu, ak takáto analýza už neexistuje</li>
    <li>nepoužívajte žiadosť na "sťažovanie sa" -- na to je iný postup (podľa zákona
    o sťažnostiach)</li>
  </ul>
  <p>Potrebujete:</p>
  <ul>
    <li>vedieť popísať, čo žiadate, môže byť aj popis, napríklad "Zmluva o nájme objektu na Ružovej
    1 za rok 2010". Ak viete priamo evidenčné číslo dokumentu, je dobré ho uviesť.</li>
    <li>od koho to žiadate -- ktorá inštutúcia Vám má odpovedať.</li>
    <li>Vaše meno a poštovú adresu pre prípadné zaslanie zamietavého rozhodnutia, ktoré je vždy
    písomné)</li>
    <li>email (ak chcete žiadosť podať elektronicky) - alebo tlačiareň (ak chcete žiadosť poslať
    papierovo)</li>
  </ul>
  <p>Nepotrebujete:</p>
  <ul>
    <li>žiadny formulár</li>
    <li>elektronický podpis</li>
  </ul>
{% endblock %}
