[run]
branch = True
source =
    poleno
    chcemvediet

[report]
show_missing = True
omit =
    */migrations/*
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    pass
