*.db
*.pyc
*.mo
/.coverage
/.instrumental.cov
/.htpasswd
/setup.json
/shell.py
/env/
/cache/
/static/
/logs/*.log
/logs/*.log.*
/media/attachments
/fixtures/*.configured.json
/chcemvediet/settings/configured.py
