{# vim: set filetype=htmldjango :#}
{% extends "menu:admin/base_site.html" %}
{% load external_js from poleno.utils %}
{% load javascript from pipeline %}

{% block title %}{{ title }} | Chcemvedieť Administration{% endblock %}

{% block branding %}{{ block.super }}
  <div style="position: absolute; top: 0; left: 120px; height: 41px; line-height: 41px; color: white; font-size: 20px;">
    Chcemvedieť Administration
  </div>
{% endblock %}

{% block extrahead %}{{ block.super }}
  {% external_js %}
  {% javascript 'main' %}
{% endblock %}
