{% extends "admin/base.html" %}
{% load blocktrans from i18n %}
{% load page_language_url from menu_tags %}

{% block title %}{{ title }} | {% blocktrans %}"Chcem Vedieť" site administration{% endblocktrans %}{% endblock %}

{% block branding %}
  <h1 id="site-name">{% blocktrans %}"Chcem Vedieť" site administration{% endblocktrans %}</h1>
{% endblock %}

{% block userlinks %}
  {% for lang in LANGUAGES %}
    <a href="{% page_language_url lang.0 %}">{{ lang.0|upper }}</a> /
  {% endfor %}
  <a href="/">{% blocktrans %}Frontend Administration{% endblocktrans %}</a> /
  {{ block.super }}
{% endblock %}
