{% extends "main/snippets/form_horizontal.html" %}

{% block before_fields %}
  <div class="control-group">
    <label class="control-label" for="id_applicant">Applicant:</label>
    <div class="controls">
      <input  type="text" id="id_applicant" placeholder="Applicant" value="{{ user.get_full_name }}" readonly>
    </div>
    <div class="offset2" style="padding: 10px 0px 0px 5px;">
      <div>{{ user.profile.street }}</div>
      <div>{{ user.profile.zip }} {{ user.profile.city }}</div>
    </div>
  </div>
{% endblock %}

{% block after_field %}
  {% if field.html_name == "obligee" %}
    <div class="offset2" style="padding: 10px 0px 0px 5px;">
      <div id="id_obligee_details1"></div>
      <div id="id_obligee_details2"></div>
      <div id="id_obligee_details3"></div>
    </div>
  {% endif %}
{% endblock %}

