{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/homepage/blogs/base.html" %}
{% load static %}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% block blog %}
  <h3>Blog</h3>
  <p>chv-blog <br>main/homepage/blogs/base.html</p>
  <div class="sg-specimen chv-scheme-white">
    {{ block.super }}
  </div>
{% endblock %}

{% block img %}{% static "main/images/blog/rozdiely_vo_vybavovani.jpg" %}{% endblock %}
{% block date %}1. apríl 2015{% endblock %}
{% block heading %}{% lorem 3 %}{% endblock %}
