extends layout

block head
  title Chcem vedieť

block content
  .alert= __("Welcome Message")
  ul
    li
      a(class='button', href='login') Prihlásiť
    li
      a(class='button', href='register') Zaregistrovať
      a.tiny (href='why-register') (Prečo je potrebné sa zaregistrovať?)


