doctype 5
html(lang=getLocale())
  head
    script(src="https://code.jquery.com/jquery-1.9.1.min.js")
    script(src="/js/lib/bootstrap.min.js")
    script(src="/js/layout.js")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/layout.css")
    block head
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href="/") Chcem vedieť
          if user
            a#logout.pull-right(href="#")
              i.icon-eject.icon-white
          p#username.navbar-text.pull-right= (user && user.displayName()) || __("Anonymous")

    .container
      #alert
      block content