extends layout

block head
  title Prečo je potrebné sa zaregistrovať?

block content
  ul
    li	Potrebujeme Vašu poštovú adresu - tá musí byť súčasťou žiadosti, v prípade, že povinná osoba žiadosť zamietne, na túto adresu bude zaslané rozhodnutie.
    li	Chceme sledovať vybavovanie Vašej žiadosti a poskytnúť Vám vhodné možnosti.
    li	Z bezpečnostných dôvodov, aby sme zabránili spamu a zneužitiu.



