extends layout

block head
  title= __("Why register")

block content
  ul
    li= __("Why register - address reason")
    li= __("Why register - monitor reason")
    li= __("Why register - spam reason")



