{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load static from staticfiles %}
{% load addtoblock from sekizai_tags %}
{% load lorem from poleno.utils %}

{% block title %}{% blocktrans %}New Application{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}New Application{% endblocktrans %}</h1>
  <p>{% lorem 21 %}</p>
  <form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {% include "applications/snippets/form_create.html" with form=form %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans %}Submit Application{% endblocktrans %}</button>
    </div>
  </form>
  {% addtoblock "js" %}{# {{{ #}
    <script>
	function update_obligee_details(obligee) {
		if (obligee) {
			$("#id_obligee_details1").text(obligee.street);
			$("#id_obligee_details2").text(obligee.zip + ' ' + obligee.city);
			$("#id_obligee_details3").text('E-mail: ' + obligee.email);
		} else {
			$("#id_obligee_details1").text('');
			$("#id_obligee_details2").text('');
			$("#id_obligee_details3").text('');
		}
	};

	$(function() {
		$("#id_obligee").autocomplete({
			source: "{% url 'obligees:autocomplete' %}",
			minLength: 2,
			select: function(event, ui) {
				update_obligee_details(ui.item ? ui.item.obligee : null);
			},
			change: function(event, ui) {
				update_obligee_details(ui.item ? ui.item.obligee : null);
			},
		});
		$("#id_obligee").click(function(event){
			$("#id_obligee").autocomplete("search");
		});
	});
    </script>
  {% endaddtoblock %}{# }}} #}
  {% addtoblock "css" %}{# {{{ #}
    <style>
	.ui-autocomplete-loading {
		background: white url("{% static 'main/images/ui-anim_basic_16x16.gif' %}") right center no-repeat;
	}
    </style>
  {% endaddtoblock %}{# }}} #}
{% endblock %}
