{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% block title %}{% blocktrans %}Application Detail{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Application Detail{% endblocktrans %}</h1>
  <div class="row">
    <p class="span2 text-right">{% blocktrans %}Applicant{% endblocktrans %}:</p>
    <div class="span10">
      <p>{{ application.applicant_name }}</p>
      <p>{{ application.applicant_street }}<br>
        {{ application.applicant_zip }} {{ application.applicant_city }}</p>
    </div>
  </div>
  <div class="row">
    <p class="span2 text-right">{% blocktrans %}Obligee{% endblocktrans %}:</p>
    <div class="span10">
      <p>{{ application.obligee_name }}</p>
      <p>{{ application.obligee_street }}<br>
        {{ application.obligee_zip }} {{ application.obligee_city }}</p>
    </div>
  </div>
  <div class="row">
    <p class="span2 text-right">{% blocktrans %}Unique E-mail{% endblocktrans %}:</p>
    <p class="span10">{{ application.unique_email }}</p>
  </div>
  <div class="row">
    <p class="span2 text-right">{% blocktrans %}Submission Date{% endblocktrans %}:</p>
    <p class="span10">{{ application.submission_date }}</p>
  </div>
  {% for act in application.act_set.all %}
    <h2>{{ act.get_type_display }}</h2>
    <div class="row">
      <p class="span2 text-right">{% blocktrans %}Effective Date{% endblocktrans %}:</p>
      <p class="span10">{{ act.effective_date }}</p>
    </div>
    <div class="row">
      <p class="span2 text-right">{% blocktrans %}Subject{% endblocktrans %}:</p>
      <p class="span10">{{ act.subject }}</p>
    </div>
    <div class="row">
      <p class="span2 text-right">{% blocktrans %}Content{% endblocktrans %}:</p>
      <p class="span10">{{ act.content }}</p>
    </div>
  {% endfor %}
  <p>
    <a class="btn" href="{% url 'applications:index' %}">{% blocktrans %}Application List{% endblocktrans %}</a>
  </p>
{% endblock %}
