{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load chunk from chunks %}

{% block title %}{% chunk 'applications:index:title' fragile %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% chunk 'applications:index:title' %}</h1>
  {% chunk 'applications:index:intro' %}
  {% if application_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% blocktrans %}Obligee{% endblocktrans %}</th>
          <th>{% blocktrans %}Submission Date{% endblocktrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for application in application_list %}
          <tr>
            <td><a href="{% url 'applications:detail' application.id %}">{{ application.obligee.name }}</a></td>
            <td>{{ application.submission_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <p>{% blocktrans %}Number of submitted applications{% endblocktrans %}: {{ application_list|length }}</p>
  <p>
    <a class="btn" href="{% url 'applications:create' %}">{% blocktrans %}New Application{% endblocktrans %}</a>
  </p>
{% endblock %}
