{% extends "main/_e_single_column.html" %}

{% block title %}Submitted Applications | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>Submitted Applications</h1>
  {% if application_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Obligee</th>
          <th>Submition Date</th>
        </tr>
      </thead>
      <tbody>
        {% for application in application_list %}
          <tr>
            <td><a href="{% url 'applications:detail' application.id %}">{{ application.obligee.name }}</a></td>
            <td>{{ application.submission_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <p>Number of submitted applications: {{ application_list|length }}</p>
  <p>
    <a class="btn" href="{% url 'applications:create' %}">New Application</a>
  </p>
{% endblock %}
