{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% block title %}{% blocktrans %}Submitted Info Requests{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Submitted Info Requests{% endblocktrans %}</h1>
  {% if info_request_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% blocktrans %}Obligee{% endblocktrans %}</th>
          <th>{% blocktrans %}Submission Date{% endblocktrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for info_request in info_request_list %}
          <tr>
            <td><a href="{% url 'info_requests:detail' info_request.id %}">{{ info_request.history.obligee_name }}</a></td>
            <td>{{ info_request.submission_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <p>{% blocktrans %}Number of submitted info requests{% endblocktrans %}: {{ info_request_list|length }}</p>
  {% if draft_list %}
    <h2>{% blocktrans %}Info Request Drafts{% endblocktrans %}</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% blocktrans %}Obligee{% endblocktrans %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for draft in draft_list %}
          <tr>
            <td>{% if draft.obligee %}{{ draft.obligee.name }}{% else %}{% blocktrans %}(empty){% endblocktrans %}{% endif %}</a></td>
            <td class="text-right">
              <a class="btn" href="{% url 'info_requests:create_from_draft' draft.id %}">Edit and Submit</a>
              <a class="btn post confirm" href="{% url 'info_requests:delete_draft' draft.id %}" data-post-csrfmiddlewaretoken="{{ csrf_token }}" data-confirm="{% blocktrans %}Are you sure you want to delete this draft?{% endblocktrans %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <p>
    <a class="btn" href="{% url 'info_requests:create' %}">{% blocktrans %}New Info Request{% endblocktrans %}</a>
  </p>
{% endblock %}
