{# vim: set filetype=htmldjango :#}
{% load blocktrans from i18n %}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3>{% blocktrans %}Something Went Wrong{% endblocktrans %}</h3>
</div>
<div class="modal-body">
  {% include "inforequests/modals/texts/ajax_fail-text.html" %}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary reload"><i class="icon-refresh icon-white"></i> {% blocktrans %}Reload Page{% endblocktrans %}</button>
  <button type="button" class="btn" data-dismiss="modal"><i class="icon-remove"></i> {% blocktrans %}Close{% endblocktrans %}</button>
</div>
