{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- form: chcemvediet.apps.inforequests.forms.ClarificationResponseForm
 %
{% endcomment %}

<form class="form-horizontal ajax" method="post" action="{% url 'inforequests:new_action_clarification_response' inforequest.pk %}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Clarification Response</h3>
  </div>
  <div class="modal-body">
    {% include "inforequests/modals/texts/clarification_response-text.html" %}
    <div>
      {% include "main/snippets/form_horizontal.html" with form=form %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" name="button" value="email"><i class="icon-envelope icon-white"></i> Send by E-mail</button>
    <button type="submit" class="btn btn-primary" name="button" value="print"><i class="icon-print icon-white"></i> Print and Send by Regular Mail</button>
    <button type="submit" class="btn" name="button" value="draft"><i class="icon-file"></i> Save as Draft</button>
    <button type="button" class="btn" data-dismiss="modal"><i class="icon-remove"></i> Close</button>
  </div>
</form>
