{# vim: set filetype=htmldjango :#}
{% load trans from i18n %}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- email: poleno.mail.models.Message
 %  -- form: chcemvediet.apps.inforequests.forms.DisclosureEmailForm
 %
{% endcomment %}

<form class="form-horizontal ajax" method="post" action="{% url 'inforequests:decide_email_disclosure' inforequest.pk email.pk %}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>{% trans 'inforequests:modals:disclosure:heading' %}</h3>
  </div>
  <div class="modal-body">
    {% include "inforequests/modals/texts/disclosure-email-text.html" %}
    <div>
      {% include "main/snippets/form_horizontal.html" with form=form %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" name="button" value="decide"><i class="icon-plus icon-white"></i> {% trans 'inforequests:modals:disclosure:decide_email' %}</button>
    <button type="button" class="btn" data-dismiss="modal"><i class="icon-remove"></i> {% trans 'inforequests:modals:close' %}</button>
  </div>
</form>
