{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- email: poleno.mail.models.Message
 %
{% endcomment %}

<form class="form-horizontal ajax" method="post" action="{% url 'inforequests:decide_email' 'unknown' inforequest.pk email.pk %}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>I don't Know, What This E-mail Is</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you don't know how to decide and you want ask our admin for help?</p>
    <p>[{% lorem 7 %}]</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" name="button" value="decide">Ask Admin for Help</button>
    <button type="button" class="btn" data-dismiss="modal">Close</button>
  </div>
</form>
