{# vim: set filetype=htmldjango :#}
{% load blocktrans from i18n %}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- email: poleno.mail.models.Message
 %
{% endcomment %}

<form class="form-horizontal ajax" method="post" action="{% url 'inforequests:decide_email_unknown' inforequest.pk email.pk %}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>{% blocktrans %}I don't Know, What This E-mail Is{% endblocktrans %}</h3>
  </div>
  <div class="modal-body">
    {% include "inforequests/modals/texts/unknown-email-text.html" %}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" name="button" value="decide"><i class="icon-question-sign icon-white"></i> {% blocktrans %}Ask Admin for Help{% endblocktrans %}</button>
    <button type="button" class="btn" data-dismiss="modal"><i class="icon-remove"></i> {% blocktrans %}Close{% endblocktrans %}</button>
  </div>
</form>
