<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{% url 'main:index' %}">Chcem vedieť</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><a href="{% url 'applications:index' %}">Applications</a></li>
          <li><a href="{% url 'obligees:index' %}">Obligees</a></li>
        </ul>
        <ul class="nav pull-right">
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'accounts:profile' %}">User Profile</a></li>
                <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'account_logout' %}">Log Out</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
