{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load static %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

<div class="chv-bellow-2">
  <div class="chv-bellow-1">
      <img class="chv-width-full" src="{%  static 'main/images/partners/eu_pontis_impact_lab.svg' %}">
  </div>
  {% include "main/snippets/eu_disclaimer.html" %}
</div>
<div class="chv-height-3">
  <div class="chv-aspect chv-aspect-parners">
    <div class="chv-aspect-inner chv-justify-all">
      <a href="https://www.governance.sk/" target="_blank">
        <img class="chv-height-full" src="{% static 'main/images/partners/sgi.svg' %}">
      </a>
      <a href="http://www.cpf.sk/" target="_blank">
        <img class="chv-height-full" src="{% static 'main/images/partners/cpf.svg' %}">
      </a>
      <a href="https://slovakia.taylorwessing.com/" target="_blank">
        <img class="chv-height-full" src="{% static 'main/images/partners/tw.svg' %}">
      </a>
      <a href="https://www.startlab.sk/" target="_blank">
        <img class="chv-height-full" src="{% static 'main/images/partners/startlab.svg' %}">
      </a>
    </div>
  </div>
</div>
