{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load lorem range from poleno.utils %}

{% block title %}{% blocktrans %}Obligees List{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Obligees List{% endblocktrans %}</h1>
  <p>[{% lorem %}]</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% blocktrans %}Organization{% endblocktrans %}</th>
        <th>{% blocktrans %}Address{% endblocktrans %}</th>
        <th>{% blocktrans %}E-mail{% endblocktrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for obligee in obligee_page %}
        <tr><td>{{ obligee.name }}</td><td>{{ obligee.street }}; {{ obligee.zip }} {{ obligee.city }}</td><td>{{ obligee.email }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination pagination-centered">
    <ul>
      {% if obligee_page.number > 1 %}
        <li><a href="?page=1">«</a></li>
      {% else %}
        <li class="disabled"><span>«</span></li>
      {% endif %}
      {% for i in "-3"|range:"4" %}
        {% if i == 0 %}
          <li class="disabled"><span>{{ obligee_page.number }}</span></li>
        {% elif obligee_page.number|add:i > 0 and obligee_page.number|add:i <= obligee_page.paginator.num_pages %}
          <li><a href="?page={{ obligee_page.number|add:i }}">{{ obligee_page.number|add:i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if obligee_page.number < obligee_page.paginator.num_pages %}
        <li><a href="?page={{ obligee_page.paginator.num_pages }}">»</a></li>
      {% else %}
        <li class="disabled"><span>»</span></li>
      {% endif %}
    </ul>
  </div>
{% endblock %}

