{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}
{% load range from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- obligee_page: django.core.paginator.Paginator(chcemvediet.apps.obligees.models.Obligee.objects)
 %
{% endcomment %}

{% block title %}{% trans 'obligees:index:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'obligees:index:heading' %}</h1>
  {% include "obligees/texts/index.html" with obligee_page=obligee_page %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans 'obligees:index:table:name' %}</th>
        <th>{% trans 'obligees:index:table:address' %}</th>
        <th>{% trans 'obligees:index:table:emails' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for obligee in obligee_page %}
        <tr><td>{{ obligee.name }}</td><td>{{ obligee.street }}; {{ obligee.zip }} {{ obligee.city }}</td><td>{{ obligee.emails }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination pagination-centered">
    <ul>
      {% if obligee_page.number > 1 %}
        <li><a href="?page=1">«</a></li>
      {% else %}
        <li class="disabled"><span>«</span></li>
      {% endif %}
      {% for i in "-3"|range:"4" %}
        {% if i == 0 %}
          <li class="disabled"><span>{{ obligee_page.number }}</span></li>
        {% elif obligee_page.number|add:i > 0 and obligee_page.number|add:i <= obligee_page.paginator.num_pages %}
          <li><a href="?page={{ obligee_page.number|add:i }}">{{ obligee_page.number|add:i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if obligee_page.number < obligee_page.paginator.num_pages %}
        <li><a href="?page={{ obligee_page.paginator.num_pages }}">»</a></li>
      {% else %}
        <li class="disabled"><span>»</span></li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
