{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

<p>
Prostredníctvom infožiadosti môžete o informácie požiadať inštitúcie, ktorým táto povinnosť vyplýva zo zákona č. 211/2000 Z. z. (infozákon). Tento zákon vychádza z princípu maximálnej otvorenosti, a preto môže o informácie požiadať každý bez rozdielu, a bez udania dôvodu. 
</p><p>
Väčšina inštitúcií má širšiu informačnú povinnosť, a teda sú povinné vám poskytnúť akékoľvek informácie, ktoré majú k dizpozícii. Na niektoré inštitúcie sa ale vzťahuje užšia informačná povinnosť. Tieto sú povinné poskytnúť len tie informácie, ktoré sa týkajú hospodárenia s verejnými prostriedkami alebo informácie v rozsahu ich rozhodovacej činnosti, napríklad nimi vydané rozhodnutia. Ak si nie ste istí a potrebujete zistiť, kam spadá inštitúcia, od ktorej požadujete informácie, prečítajte si manuál. (link)
</p><p>
Niektoré informácie sa nesprístupňujú nikdy, a to: 
<ul>
<li>utajované skutočnosti </li>
<li>daňové a bankové tajomstvo</li> 
<li>osobné údaje a informácie o súkromí</li> 
<li>obchodné tajomstvo</li> 
<li>informácie o rozhodovacej činnosti súdov a orgánov činných v trestnom konaní</li></ul> 
</p><p>
Ďalšie výnimky nájdete v § 11 infozákona. 
</p><p>
Potrebujete vedieť:
<ul><li>akú informáciu žiadate (čím konkrétnejšia bude vaša otázka, zvyšuje sa aj vaša šanca na konkrétnu odpoveď),</li>  
<li>od koho ju žiadate (ktorá inštitúcia by ju mohla mať),</li>   
<li>že, infožiadosť nie je sťažnosť. Preto sa nesťažujte, ale pýtajte!</li></ul></p>

