{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load static %}


<h1>Projekt podporili</h1>

<div class="chv-above-1 chv-bellow-1">
    <img src="{% static 'main/images/partners/eu_pontis_impact_lab.svg' %}">
</div>

{% include "main/snippets/eu_disclaimer.html" %}

<h2 id="dalsi-partneri">Ďalší partneri</h2>

<div>
  <a href="http://www.cpf.sk/">
    <img class="chv-height-2" src="{% static 'main/images/partners/cpf.svg' %}">
  </a>
  &emsp;&emsp;
  <a href="http://slovakia.taylorwessing.com/">
    <img class="chv-height-4" src="{% static 'main/images/partners/tw.svg' %}">
  </a>
</div>

<h2 id="individualne-podporili">Individuálne podporili</h2>
<p>
Cez platformu <a href="https://www.startlab.sk/projekty/1-chcemvedietsk/">StartLab</a>
projekt podporili (v abecednom poradí): Alexander Oross, Andrea Porvazníková, Andrej Schulcz, Anna
Zemanová, Barbora Paulenova, Boris Strečanský, Dalibor Bobok, Dana Mareková, Daniel Duris, Daniel
Sedlacek, Darina a Lubos Steskal, David Jurik, Dominika Belanská, Elena Pätoprstá, Eva Markova,
Evina Steinova, Gábor Grendel, Igor Polakovič, Imro Hamarčák, Ivan Ježík, Jakub Kmeť, Jakub Koncek,
Jakub Ptacin, Jan Hefty, Jan Oravec, Jan Spurny, Jana Ambrózová, Jano, Jozef Hudacek, Jozef
Miskolci, Jozef Švec, Juraj Bláha, Juraj Káčer, Juraj Petrovic, Juraj Tokarcik, Juraj Zemianek,
Ján, Ján Hurban, Ján Kliman, Ján Kľuka, Ján Ľudvík, Katarina Raucinova, Katarína Moncoľová, Lubos
Kejmar, Lucia Gállová, Lucia Komendova, Lucia Vidanová, Lucka, Ludmila Priehodova, Maja Ž., Marcel
Zajac, Marian Vajdecka, Mario, Marián Lukáček, Marta Labath, Martin Kapitulik, Martin Lauko, Martin
M., Martin Rejda, Martin Sleziak, Martin Turček, Martin Vlačiky, Martina Rundesová, Matej Duník,
Matej Kurian, Matej Turňa, Matej Vagač, Matúš Sloboda, Matúš Švirloch, Michaela Farenzenova, Michal
Forišek, Michal Hrapko, Michal Kevický, Michal Lacko, Michal Oravec, Michal Remiš, Michal Šimonfy,
Milos Sramek, Miro Kadúc, Miro Kollar, Miso Kovac, Mária Kaducová, Mária Smrčová, Pavol Neilinger,
Peter Bročka, Peter Cmorej, Peter Glaus, Peter Netri, Peter Papp, Radana, Radoslav Augustin, Rasto
Kulich, Rasto Lenhardt, Rasto Sramek, Renáta Fedorčíková, Richard Medal, Richard Scepko, Richard
Sulík, Stanislava D., Stevo, Veronika Klindová, Vladimír Špánik, Vlado Dulla, Zuzana Thullnerová
a ďalších 25 podporovateľov, ktorí si želali ich meno nezverejniť.
</p>
