{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load chunk from chunks %}

{% block title %}{% chunk 'accounts:email:confirm:title' fragile %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% chunk 'accounts:email:confirm:title' %}</h1>
  {% if confirmation %}
    {% chunk 'accounts:email:confirm:intro' %}
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% blocktrans %}Confirm{% endblocktrans %}</button>
      </div>
    </form>
  {% else %}
    {% chunk 'accounts:email:confirm:invalid' %}
  {% endif %}
{% endblock %}
