{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- confirmation: allauth.account.models.EmailConfirmation
 %
{% endcomment %}

{% block title %}{% blocktrans %}Confirm E-mail Address{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% blocktrans %}Confirm E-mail Address{% endblocktrans %}</h1>
  {% if confirmation %}
    {% include "account/texts/email_confirm-text.html" with confirmation=confirmation %}
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% blocktrans %}Confirm{% endblocktrans %}</button>
      </div>
    </form>
  {% else %}
    {% include "account/texts/email_confirm-invalid.html" %}
  {% endif %}
{% endblock %}
