{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- email_address: allauth.account.models.EmailAddress (not sure)
 %  -- confirmation: allauth.account.models.EmailConfirmation (not sure)
 %
{% endcomment %}

{% block title %}{% blocktrans %}Confirm E-mail Address{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% blocktrans %}Confirm E-mail Address{% endblocktrans %}</h1>
  <p>{% blocktrans with email_address.email as email and email_address.user.get_full_name as user %}You have confirmed that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user }}.{% endblocktrans %}</p>
{% endblock %}
