{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load chunk from chunks %}

{% block title %}{% chunk 'accounts:logout:title' fragile %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% chunk 'accounts:logout:title' %}</h1>
  {% chunk 'accounts:logout:intro' %}
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}">
    {% endif %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans %}Sign Out{% endblocktrans %}</button>
    </div>
  </form>
{% endblock %}
