{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- redirect_field_name: string
 %  -- redirect_field_value: string
 %
{% endcomment %}

{% block title %}{% blocktrans %}Sign Out{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% blocktrans %}Sign Out{% endblocktrans %}</h1>
  <p>{% blocktrans %}Are you sure you want to sign out?{% endblocktrans %}</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}">
    {% endif %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans %}Sign Out{% endblocktrans %}</button>
    </div>
  </form>
{% endblock %}
