{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- redirect_field_name: string
 %  -- redirect_field_value: string
 %
{% endcomment %}

{% block title %}{% trans 'account:logout:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'account:logout:heading' %}</h1>
  {% include "account/texts/logout-text.html" %}
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}">
    {% endif %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans 'account:logout:submit' %}</button>
    </div>
  </form>
{% endblock %}
