{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load chunk from chunks %}

{% block title %}{% chunk 'accounts:password:set:title' fragile %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% chunk 'accounts:password:set:title' %}</h1>
  {% chunk 'accounts:password:set:intro' %}
  <form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {% include "main/snippets/form_horizontal.html" with form=form %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans %}Set Password{% endblocktrans %}</button>
    </div>
  </form>
{% endblock %}
