{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block title %}{% blocktrans %}Password Reset{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% blocktrans %}Password Reset{% endblocktrans %}</h1>
  {% if user.is_authenticated %}
    {% include "account/texts/password_reset-logged_in.html" %}
  {% endif %}
  {% include "account/texts/password_reset_done-text.html" %}
{% endblock %}
