{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block title %}{% blocktrans %}Password Reset{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Password Reset{% endblocktrans %}</h1>
  {% if user.is_authenticated %}
    <p>{% blocktrans with user.get_full_name as name %}<strong>Note:</strong> you are already logged in as {{ name }}.{% endblocktrans %}</p>
  {% endif %}
{% endblock %}
