{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- form: allauth.account.forms.ResetPasswordKeyForm
 %  -- token_fail: True | undefined
 %
{% endcomment %}

{% block title %}{% blocktrans %}Change Password{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content %}
  {% if token_fail %}
    <h1>{% blocktrans %}Bad Token{% endblocktrans %}</h1>
    {% include "account/texts/password_reset_from_key-bad_token.html" %}
  {% else %}
    <h1>{% blocktrans %}Change Password{% endblocktrans %}</h1>
    {% include "account/texts/password_reset_from_key-text.html" %}
    <form class="form-horizontal" method="post" action=".">
      {% csrf_token %}
      {% include "main/snippets/form_horizontal.html" with form=form %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% blocktrans %}Change Password{% endblocktrans %}</button>
      </div>
    </form>
  {% endif %}
{% endblock %}
