{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- form: allauth.account.forms.ResetPasswordForm
 %
{% endcomment %}

{% block title %}{% blocktrans %}Password Reset{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Password Reset{% endblocktrans %}</h1>
  {% if user.is_authenticated %}
    <p>{% blocktrans with user.get_full_name as name %}<strong>Note:</strong> you are already logged in as {{ name }}.{% endblocktrans %}</p>
  {% endif %}
  <p>{% blocktrans %}Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it. Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  <form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {% include "main/snippets/form_horizontal.html" with form=form %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans %}Reset My Password{% endblocktrans %}</button>
    </div>
  </form>
{% endblock %}
