{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load chunk from chunks %}

{% block title %}{% chunk 'accounts:password:reset:mail:title' fragile %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% chunk 'accounts:password:reset:mail:title' %}</h1>
  {% chunk 'accounts:password:reset:mail:intro' %}
  {% if user.is_authenticated %}
    <p><strong>Note:</strong> you are already logged in as {{ user.get_full_name }}.</p>
  {% endif %}
  <form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {% include "main/snippets/form_horizontal.html" with form=form %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans %}Reset My Password{% endblocktrans %}</button>
    </div>
  </form>
{% endblock %}
