{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load chunk from chunks %}

{% block title %}
  {% if token_fail %}
    {% chunk 'accounts:password:reset:failed:title' fragile %}
  {% elif form %}
    {% chunk 'accounts:password:reset:token:title' fragile %}
  {% else %}
    {% chunk 'accounts:password:reset:done:title' fragile %}
  {% endif %}
  | {{ block.super }}
{% endblock %}

{% block main_col %}
  {% if token_fail %}
    <h1>{% chunk 'accounts:password:reset:failed:title' %}</h1>
    {% chunk 'accounts:password:reset:failed:intro' %}
  {% elif form %}
    <h1>{% chunk 'accounts:password:reset:token:title' %}</h1>
    {% chunk 'accounts:password:reset:token:intro' %}
    <form class="form-horizontal" method="post" action=".">
      {% csrf_token %}
      {% include "main/snippets/form_horizontal.html" with form=form %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% blocktrans %}Change Password{% endblocktrans %}</button>
      </div>
    </form>
  {% else %}
    <h1>{% chunk 'accounts:password:reset:done:title' %}</h1>
    {% chunk 'accounts:password:reset:done:intro' %}
  {% endif %}
{% endblock %}
