{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- form: allauth.account.forms.ResetPasswordForm
 %
{% endcomment %}

{% block title %}{% trans 'account:password_reset:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'account:password_reset:heading' %}</h1>
  {% if user.is_authenticated %}
    {% include "account/texts/password_reset_logged_in.html" %}
  {% endif %}
  {% include "account/texts/password_reset_text.html" %}
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {% include "main/snippets/form_horizontal.html" with form=form %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans 'account:password_reset:submit' %}</button>
    </div>
  </form>
{% endblock %}
