{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- form: allauth.account.forms.SetPasswordForm
 %
{% endcomment %}

{% block title %}{% blocktrans %}Set Password{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Set Password{% endblocktrans %}</h1>
  <form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {% include "main/snippets/form_horizontal.html" with form=form %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans context "button" %}Set Password{% endblocktrans %}</button>
    </div>
  </form>
{% endblock %}
