{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% block title %}{% blocktrans %}Set Password{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Set Password{% endblocktrans %}</h1>
  {% include "main/snippets/messages.html" %}
  <form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {% include "main/snippets/form_horizontal.html" with form=form %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans %}Set Password{% endblocktrans %}</button>
    </div>
  </form>
{% endblock %}
