{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block title %}{% trans 'account:password_reset_done:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'account:password_reset_done:heading' %}</h1>
  {% if user.is_authenticated %}
    {% include "account/texts/password_reset_logged_in.html" %}
  {% endif %}
  {% include "account/texts/password_reset_done_text.html" %}
{% endblock %}
