{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- form: allauth.account.forms.SignupForm
 %  -- login_url: string
 %  -- redirect_field_name: string
 %  -- redirect_field_value: string
 %
{% endcomment %}

{% block title %}{% blocktrans %}Sign Up{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Sign Up{% endblocktrans %}</h1>
  <form class="form-horizontal" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="row">
      <p class="span6">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>. Or, you can sign up with one of your existing third party accounts.{% endblocktrans %}</p>
    </div>
    <div class="row">
      <div class="span6">
        {% include "main/snippets/form_horizontal.html" with form=form %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <div class="control-group">
          <label class="control-label">{% blocktrans %}Sign Up With{% endblocktrans %}:</label>
          <div class="controls">
            {% include "account/snippets/social_login_buttons.html" with process="login" %}
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="alert alert-block alert-info">
          {% include "account/snippets/login_why_register.html" %}
        </div>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans %}Sign Up{% endblocktrans %} &raquo;</button>
    </div>
  </form>
{% endblock %}
