/* Required for ``poleno.utils.forms.CompositeText`` form widget.
 */

.composite-text {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	margin: 0;
	padding: 5px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	white-space: pre-wrap;
}

.composite-text.focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
	outline: 0px none;
}

.control-group.error .composite-text {
	border-color: #B94A48;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.control-group.error .composite-text.focus {
	border-color: #953B39;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #D59392;
}

.composite-text textarea {
	width: 100%;
}

.composite-text textarea,
.composite-text input[type="text"] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: 1px #BBB dashed;
	box-shadow: none !important;
	resize: none !important;
	vertical-align: baseline;
}
