{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- form: chcemvediet.apps.inforequests.forms.ConfirmationSmailForm
 %
{% endcomment %}

<form class="form-horizontal ajax" method="post" action="{% url 'inforequests:add_smail' 'confirmation' inforequest.id %}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Inforequest Confirmation</h3>
  </div>
  <div class="modal-body">
    {% if inforequest.history.action_set.confirmations.count %}
      <div class="alert">
        <strong>Warning!</strong> There already is a confirmation in this inforequest history.
        Obligees usually don't send multiplne confirmations.
      </div>
    {% endif %}
    <p>[{% lorem 7 %}]</p>
    <div>
      {% include "main/snippets/form_horizontal.html" with form=form %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Add an Inforequest Confirmation</button>
    <button type="button" class="btn" data-dismiss="modal">Close</button>
  </div>
</form>
