{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- email: chcemvediet.apps.inforequests.models.ReceivedEmail
 %  -- form: chcemvediet.apps.inforequests.forms.DisclosureEmailForm
 %
{% endcomment %}

<form class="form-horizontal ajax" method="post" action="{% url 'inforequests:decide_email' inforequest.id email.id 'disclosure' %}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Information Disclosure</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to mark this e-mail as a information disclosure for your inforequest?</p>
    <p>[{% lorem 7 %}]</p>
    <div>
      {% include "main/snippets/form_horizontal.html" with form=form %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Mark as Information Disclosure</button>
    <button type="button" class="btn" data-dismiss="modal">Close</button>
  </div>
</form>
