{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- form: chcemvediet.apps.inforequests.forms.ExtensionSmailForm
 %
{% endcomment %}

<form class="form-horizontal ajax" method="post" action="{% url 'inforequests:add_smail' 'extension' inforequest.id %}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Deadline Extension</h3>
  </div>
  <div class="modal-body">
    <p>[{% lorem 7 %}]</p>
    <div>
      {% include "main/snippets/form_horizontal.html" with form=form %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" name="button" value="add">Add a Deadline Extension</button>
    <button type="submit" class="btn" name="button" value="draft">Save as Draft</button>
    <button type="button" class="btn" data-dismiss="modal">Close</button>
  </div>
</form>
