{# vim: set filetype=htmldjango :#}

{% comment %}
 %
 % Context:
 %  -- name: string
 %  -- textinput: string
 %  -- attachments: [chcemvediet.apps.attachments.models.Attachment]
 %
{% endcomment %}

{{ textinput }}
<span class="btn btn-default btn-file">Browse<input class="fileupload" type="file" name="files" multiple="multiple" data-url="{% url 'attachments:upload' %}" data-field="#id_{{name}}" data-target="#{{name}}-target"></span>
<span id="{{name}}-target">
  <span class="fileupload-template hide">
    <span class="label label-info fileupload-label" data-attachment=""><a href=""></a> <button type="button" class="label-close fileupload-label-close">&times;</button></span>
  </span>
  {% for attachment in attachments %}
    <span class="label label-info fileupload-label" data-attachment="{{ attachment.id }}"><a href="{% url 'attachments:download' attachment.id %}">{{ attachment.name }}</a> <button type="button" class="label-close fileupload-label-close">&times;</button></span>
  {% endfor %}
</span>
