{# vim: set filetype=htmldjango :#}
{% extends "admin/base_site.html" %}
{% load admin_urlname admin_urlquote from admin_urls %}
{% load static from admin_static %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
    &rsaquo; Decide
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <form action="" method="post" id="{{ opts.model_name }}_form">
      {% csrf_token %}
      <div>
        {% if adminform.form.errors %}
          <p class="errornote">Please correct the errors below.</p>
          {{ adminform.form.non_field_errors }}
        {% endif %}
        {% for fieldset in adminform %}
          {% include "admin/includes/fieldset.html" %}
        {% endfor %}
      </div>
      <div class="submit-row">
        <input type="submit" value="Save" class="default" name="_save" />
      </div>
    </form>
  </div>
{% endblock %}
