{# vim: set filetype=htmldjango :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}

<h1>{% trans 'inforequests:detail:heading' %}</h1>
<div id="request">
  {% include "inforequests/detail-request.html" with inforequest=inforequest %}
</div>
{% if not inforequest.closed %}
  {% if inforequest.has_undecided_emails %}
    <div id="decide">
      {% include "inforequests/detail-decide.html" with inforequest=inforequest email=inforequest.oldest_undecided_email %}
    </div>
    <div id="undecided">
      {% include "inforequests/detail-undecided.html" with inforequest=inforequest %}
    </div>
  {% else %}
    <div id="add-smail">
      {% include "inforequests/detail-add_smail.html" with inforequest=inforequest %}
    </div>
    <div id="new-action">
      {% include "inforequests/detail-new_action.html" with inforequest=inforequest %}
    </div>
  {% endif %}
{% endif %}
<h2>{% trans 'inforequests:detail:history:heading' %}</h2>
<div id="actions">
  {% include "inforequests/detail-branch.html" with inforequest=inforequest branch=inforequest.main_branch %}
</div>
<div id="print-modal" class="modal modal-large hide"></div>
<div id="ajax-fail-modal" class="modal hide fade">
  {% include "inforequests/modals/ajax_fail.html" with inforequest=inforequest %}
</div>
