{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load addtoblock from sekizai_tags %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- forms.extension_email: chcemvediet.apps.inforequests.forms.ExtensionEmailForm
 %  -- forms.disclosure_email: chcemvediet.apps.inforequests.forms.DisclosureEmailForm
 %  -- forms.refusal_email: chcemvediet.apps.inforequests.forms.RefusalEmailForm
 %
{% endcomment %}

{% block title %}{% blocktrans %}Inforequest Detail{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content %}
  {% include "inforequests/detail-main.html" with inforequest=inforequest forms=forms %}

  {% addtoblock "js" %}{# {{{ #}
    <script>
	$(function(){
		$(document).on('ajax-done', '#decide .modal', function(event, data){
			switch (data.result) {
				case 'invalid':
					$(this).html(data.content);
					break;
				case 'success':
					$.hideBootstrapModal(function(){
						$('#content').html(data.content);
						$(data.scroll_to).scrollTo();
					});
					break;
			}
		});
	});
    </script>
  {% endaddtoblock %}{# }}} #}
{% endblock %}

