{# vim: set filetype=htmldjango :#}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}

<h1>{% blocktrans %}Inforequest Detail{% endblocktrans %}</h1>
<div id="request">
  {% include "inforequests/detail-request.html" with inforequest=inforequest %}
</div>
<div id="actions">
  {% for action in inforequest.history.action_set.all %}
    <div id="action-{{ action.id }}">
      {% include "inforequests/detail-action.html" with inforequest=inforequest history=inforequest.history action=action forloop=forloop %}
    </div>
  {% endfor %}
</div>
<div id="decide">
  {% if inforequest.receivedemail_set.undecided.count %}
    {% include "inforequests/detail-decide.html" with inforequest=inforequest email=inforequest.receivedemail_set.undecided.first %}
  {% endif %}
</div>
<div id="waiting">
  {% include "inforequests/detail-waiting.html" with inforequest=inforequest %}
</div>
<div id="add-smail">
  {% include "inforequests/detail-add_smail.html" with inforequest=inforequest %}
</div>
<div id="new-action">
  {% include "inforequests/detail-new_action.html" with inforequest=inforequest %}
</div>
<div id="print-modal" class="modal modal-large hide"></div>
<div id="ajax-fail-modal" class="modal hide fade">
  {% include "inforequests/modals/ajax_fail.html" with inforequest=inforequest %}
</div>
