{# vim: set filetype=htmldjango :#}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}

{% if inforequest.receivedemail_set.undecided.count >= 2 %}
  <div class="alert alert-info alert-block clearfix">
    <h4>More e-mails</h4>
    <p>
      {% blocktrans with inforequest.receivedemail_set.undecided.count|add:-1 as count %}{{ count }} other e-mails are waiting
      for your decision. First decide the above e-mail and then the rest. You must decide them
      in the order they were received.{% endblocktrans %}
    </p>
    <p><button class="btn" data-toggle="collapse" data-target="#undecided-collapse">{% blocktrans %}Show them{% endblocktrans %}</button></p>
  </div>
  <div id="undecided-collapse" class="collapse">
    {% for email in inforequest.receivedemail_set.undecided %}
      {% if forloop.counter >= 2 %}
        <div id="undecided-{{ email.id }}" class="undecided well">
          {% include "inforequests/detail-email.html" with inforequest=inforequest email=email %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
