{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}

<h2>What You Can Do</h2>
<div class="well">
  <p>[{% lorem 21 %}]</p>
  <div class="btn-group">
    <button type="button" class="btn btn-primary ajax ajax-once" action="{% url 'inforequests:new_action' 'clarification-response' inforequest.id %}" data-type="html" data-toggle="modal" data-target="#clarification-response-modal">Clarification Response</button>
    <button type="button" class="btn btn-primary ajax ajax-once" action="{% url 'inforequests:new_action' 'appeal' inforequest.id %}" data-type="html" data-toggle="modal" data-target="#appeal-modal">Appeal</button>
  </div>
  <div id="clarification-response-modal" class="modal modal-large hide fade"></div>
  <div id="appeal-modal" class="modal modal-large hide fade"></div>
</div>
