{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- email: poleno.mail.models.Message
 %
{% endcomment %}

<h2>Undecided Received E-mail</h2>
<div class="well">
  {% include "inforequests/detail-email.html" with inforequest=inforequest email=email %}
  <h4>Please, read the e-mail and decide what it is:</h4>
  <p>[{% lorem 10 %}]</p>
  <div class="btn-group">
    {% if inforequest.can_add_confirmation %}<button type="button" class="btn btn-primary ajax ajax-modal-once" action="{% url 'inforequests:decide_email' 'confirmation' inforequest.id email.id %}" data-type="html" data-target="#confirmation-email-modal" data-fail-target="#ajax-fail-modal">Confirmation</button>{% endif %}
    {% if inforequest.can_add_extension %}<button type="button" class="btn btn-primary ajax ajax-modal-once" action="{% url 'inforequests:decide_email' 'extension' inforequest.id email.id %}" data-type="html" data-target="#extension-email-modal" data-fail-target="#ajax-fail-modal">Extension</button>{% endif %}
    {% if inforequest.can_add_advancement %}<button type="button" class="btn btn-primary ajax ajax-modal-once" action="{% url 'inforequests:decide_email' 'advancement' inforequest.id email.id %}" data-type="html" data-target="#advancement-email-modal" data-fail-target="#ajax-fail-modal">Advancement</button>{% endif %}
    {% if inforequest.can_add_clarification_request %}<button type="button" class="btn btn-primary ajax ajax-modal-once" action="{% url 'inforequests:decide_email' 'clarification-request' inforequest.id email.id %}" data-type="html" data-target="#clarification-request-email-modal" data-fail-target="#ajax-fail-modal">Clarification Request</button>{% endif %}
    {% if inforequest.can_add_disclosure %}<button type="button" class="btn btn-primary ajax ajax-modal-once" action="{% url 'inforequests:decide_email' 'disclosure' inforequest.id email.id %}" data-type="html" data-target="#disclosure-email-modal" data-fail-target="#ajax-fail-modal">Disclosure</button>{% endif %}
    {% if inforequest.can_add_refusal %}<button type="button" class="btn btn-primary ajax ajax-modal-once" action="{% url 'inforequests:decide_email' 'refusal' inforequest.id email.id %}" data-type="html" data-target="#refusal-email-modal" data-fail-target="#ajax-fail-modal">Refusal</button>{% endif %}
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger ajax ajax-modal-once" action="{% url 'inforequests:decide_email' 'unrelated' inforequest.id email.id %}" data-type="html" data-target="#unrelated-email-modal" data-fail-target="#ajax-fail-modal">Unrelated e-mail, or SPAM</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-inverse ajax ajax-modal-once" action="{% url 'inforequests:decide_email' 'unknown' inforequest.id email.id %}" data-type="html" data-target="#unknown-email-modal" data-fail-target="#ajax-fail-modal">I don't know</button>
  </div>
  <div id="confirmation-email-modal" class="modal hide fade"></div>
  <div id="extension-email-modal" class="modal hide fade"></div>
  <div id="advancement-email-modal" class="modal hide fade"></div>
  <div id="clarification-request-email-modal" class="modal hide fade"></div>
  <div id="unrelated-email-modal" class="modal hide fade"></div>
  <div id="unknown-email-modal" class="modal hide fade"></div>
  <div id="disclosure-email-modal" class="modal hide fade"></div>
  <div id="refusal-email-modal" class="modal hide fade"></div>
</div>
