{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- email: poleno.mail.models.Message
 %
{% endcomment %}

<h2>Undecided Received E-mail</h2>
<div class="well">
  {% include "inforequests/detail-email.html" with inforequest=inforequest email=email %}
  {% if inforequest.can_add_obligee_email_action %}
    {% include "inforequests/texts/detail-decide-text.html" with inforequest=inforequest email=email %}
    <div class="btn-group">
      {% if inforequest.can_add_confirmation          %}<button type="button" class="btn btn-primary ajax ajax-modal-once with-tooltip" action="{% url 'inforequests:decide_email_confirmation'          inforequest.pk email.pk %}" data-type="html" data-target="#confirmation-email-modal"          data-fail-target="#ajax-fail-modal" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{% spaceless %}{% include "inforequests/tooltips/detail-decide-confirmation.txt"          %}{% endspaceless %}">Confirmation</button>{% endif %}
      {% if inforequest.can_add_extension             %}<button type="button" class="btn btn-primary ajax ajax-modal-once with-tooltip" action="{% url 'inforequests:decide_email_extension'             inforequest.pk email.pk %}" data-type="html" data-target="#extension-email-modal"             data-fail-target="#ajax-fail-modal" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{% spaceless %}{% include "inforequests/tooltips/detail-decide-extension.txt"             %}{% endspaceless %}">Extension</button>{% endif %}
      {% if inforequest.can_add_advancement           %}<button type="button" class="btn btn-primary ajax ajax-modal-once with-tooltip" action="{% url 'inforequests:decide_email_advancement'           inforequest.pk email.pk %}" data-type="html" data-target="#advancement-email-modal"           data-fail-target="#ajax-fail-modal" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{% spaceless %}{% include "inforequests/tooltips/detail-decide-advancement.txt"           %}{% endspaceless %}">Advancement</button>{% endif %}
      {% if inforequest.can_add_clarification_request %}<button type="button" class="btn btn-primary ajax ajax-modal-once with-tooltip" action="{% url 'inforequests:decide_email_clarification_request' inforequest.pk email.pk %}" data-type="html" data-target="#clarification-request-email-modal" data-fail-target="#ajax-fail-modal" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{% spaceless %}{% include "inforequests/tooltips/detail-decide-clarification_request.txt" %}{% endspaceless %}">Clarification Request</button>{% endif %}
      {% if inforequest.can_add_disclosure            %}<button type="button" class="btn btn-primary ajax ajax-modal-once with-tooltip" action="{% url 'inforequests:decide_email_disclosure'            inforequest.pk email.pk %}" data-type="html" data-target="#disclosure-email-modal"            data-fail-target="#ajax-fail-modal" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{% spaceless %}{% include "inforequests/tooltips/detail-decide-disclosure.txt"            %}{% endspaceless %}">Disclosure</button>{% endif %}
      {% if inforequest.can_add_refusal               %}<button type="button" class="btn btn-primary ajax ajax-modal-once with-tooltip" action="{% url 'inforequests:decide_email_refusal'               inforequest.pk email.pk %}" data-type="html" data-target="#refusal-email-modal"               data-fail-target="#ajax-fail-modal" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{% spaceless %}{% include "inforequests/tooltips/detail-decide-refusal.txt"               %}{% endspaceless %}">Refusal</button>{% endif %}
    </div>
  {% else %}
    {% include "inforequests/texts/detail-decide-nothing.html" with inforequest=inforequest email=email %}
  {% endif %}
  <div class="btn-group">
    <button type="button" class="btn btn-danger ajax ajax-modal-once with-tooltip" action="{% url 'inforequests:decide_email_unrelated' inforequest.pk email.pk %}" data-type="html" data-target="#unrelated-email-modal" data-fail-target="#ajax-fail-modal" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{% spaceless %}{% include "inforequests/tooltips/detail-decide-unrelated.txt" %}{% endspaceless %}">Unrelated e-mail, or SPAM</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-inverse ajax ajax-modal-once with-tooltip" action="{% url 'inforequests:decide_email_unknown' inforequest.pk email.pk %}" data-type="html" data-target="#unknown-email-modal" data-fail-target="#ajax-fail-modal" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{% spaceless %}{% include "inforequests/tooltips/detail-decide-unknown.txt" %}{% endspaceless %}">I don't know</button>
  </div>
  <div id="confirmation-email-modal"          class="modal inforequest-ajax-modal modal-large hide fade"></div>
  <div id="extension-email-modal"             class="modal inforequest-ajax-modal modal-large hide fade"></div>
  <div id="advancement-email-modal"           class="modal inforequest-ajax-modal modal-large hide fade"></div>
  <div id="clarification-request-email-modal" class="modal inforequest-ajax-modal modal-large hide fade"></div>
  <div id="unrelated-email-modal"             class="modal inforequest-ajax-modal modal-large hide fade"></div>
  <div id="unknown-email-modal"               class="modal inforequest-ajax-modal modal-large hide fade"></div>
  <div id="disclosure-email-modal"            class="modal inforequest-ajax-modal modal-large hide fade"></div>
  <div id="refusal-email-modal"               class="modal inforequest-ajax-modal modal-large hide fade"></div>
</div>
