{# vim: set filetype=htmldjango :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}

<div class="row">
  <p class="span2 text-right">{% trans 'inforequests:detail:request:applicant' %}:</p>
  <div class="span10">
    <p>{{ inforequest.applicant_name }}</p>
    <p>{{ inforequest.applicant_street }}<br>
      {{ inforequest.applicant_zip }} {{ inforequest.applicant_city }}</p>
  </div>
</div>
<div class="row">
  <p class="span2 text-right">{% trans 'inforequests:detail:request:obligee' %}:</p>
  <div class="span10">
    <p>{{ inforequest.branch.historicalobligee.name }}</p>
    <p>{{ inforequest.branch.historicalobligee.street }}<br>
      {{ inforequest.branch.historicalobligee.zip }} {{ inforequest.branch.historicalobligee.city }}</p>
  </div>
</div>
<div class="row">
  <p class="span2 text-right">{% trans 'inforequests:detail:request:unique_email' %}:</p>
  <p class="span10">{{ inforequest.unique_email }} <i class="icon-question-sign with-tooltip" data-toggle="tooltip" data-placement="right" title="{% spaceless %}{% include "inforequests/tooltips/detail-request-unique_email.txt" %}{% endspaceless %}"></i></p>
</div>
<div class="row">
  <p class="span2 text-right">{% trans 'inforequests:detail:request:submission_date' %}:</p>
  <p class="span10">{{ inforequest.submission_date }}</p>
</div>
