{# vim: set filetype=htmldjango :#}
{% load squeeze from poleno.utils %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- history: chcemvediet.apps.inforequests.models.History
 %  -- action: chcemvediet.apps.inforequests.models.Action
 %  -- forloop
 %
{% endcomment %}

<div class="well">
  <h4>{{ action.get_type_display }}</h4>
  <div class="row-fluid">
    <p class="span2 text-right">Effective Date:</p>
    <p class="span10">{{ action.effective_date }}
      {% if forloop.last and action.deadline %}&mdash;
        Deadline: {{ action.deadline }} WD{% if action.extension %} + {{ action.extension }} WD{% endif %},
        {% if action.deadline_missed %}Deadline is Missed{% else %}{{ action.deadline_remaining }} WD remains{% endif %}
      {% endif %}
    </p>
  </div>
  {% if action.email %}
    <div class="row-fluid">
      <p class="span2 text-right">From:</p>
      <p class="span10">{{ action.email.from_full }}</p>
    </div>
    <div class="row-fluid">
      <p class="span2 text-right">To:</p>
      <p class="span10">
        {% for recipient in action.email.recipient_set.all %}
          {% filter squeeze %}
            {% if recipient.mail == action.email.received_for %}
              <b>{{ recipient.full }}</b>
            {% else %}
              <span>{{ recipient.full }}</span>
            {% endif %}
            {% if recipient.status == recipient.STATUSES.QUEUED %}<span class="label">{{ recipient.get_status_display }}</span>{% endif %}
            {% if recipient.status == recipient.STATUSES.REJECTED %}<span class="label label-important">{{ recipient.get_status_display }}</span>{% endif %}
            {% if recipient.status == recipient.STATUSES.INVALID %}<span class="label label-important">{{ recipient.get_status_display }}</span>{% endif %}
            {% if recipient.status == recipient.STATUSES.SENT %}<span class="label label-info">{{ recipient.get_status_display }}</span>{% endif %}
            {% if recipient.status == recipient.STATUSES.DELIVERED %}<span class="label label-success">{{ recipient.get_status_display }}</span>{% endif %}
            {% if recipient.status == recipient.STATUSES.OPENED %}<span class="label label-success">{{ recipient.get_status_display }}</span>{% endif %}
          {% endfilter %}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
    </div>
  {% endif %}
  {% if action.subject %}
    <div class="row-fluid">
      <p class="span2 text-right">Subject:</p>
      <p class="span10">{{ action.subject }}</p>
    </div>
  {% endif %}
  {% if action.disclosure_level %}
    <div class="row-fluid">
      <p class="span2 text-right">Disclosure Level:</p>
      <p class="span10">{{ action.get_disclosure_level_display }}</p>
    </div>
  {% endif %}
  {% if action.refusal_reason %}
    <div class="row-fluid">
      <p class="span2 text-right">Refusal Reason:</p>
      <p class="span10">{{ action.get_refusal_reason_display }}</p>
    </div>
  {% endif %}
  {% if action.attachment_set.count %}
    <div class="row-fluid">
      <p class="span2 text-right">Attachments:</p>
      <p class="span10">
        {% for attachment in action.attachment_set.all %}
          <a href="{% url 'attachments:download' attachment.id %}"><span class="label label-info">{{ attachment.name }}</span></a>
        {% endfor %}
      </p>
    </div>
  {% endif %}
  {% if action.content %}
    <div class="row-fluid">
      <p class="span12" style="white-space: pre-line;">{{ action.content }}</p>
    </div>
  {% endif %}
  {% if forloop.last and not inforequest.closed and action.has_obligee_deadline and action.deadline_missed and not inforequest.has_undecided_email %}
    <button type="button" class="btn btn-primary ajax ajax-modal-once" action="{% url 'inforequests:extend_deadline' inforequest.id history.id action.id %}" data-type="html" data-target="#extend-deadline-{{ action.pk }}-modal" data-fail-target="#ajax-fail-modal">Deadline is Missed, Extend it</button>
    <span id="extend-deadline-{{ action.pk }}-modal" class="modal hide fade"></span>
  {% endif %}
  {% for sub_history in action.advanced_to_set.all %}
    <div class="well well-inverse">
      <div class="row-fluid">
        <p class="span2 text-right">{% blocktrans %}New Obligee{% endblocktrans %}:</p>
        <div class="span10">
          <p>{{ sub_history.obligee_name }}</p>
          <p>{{ sub_history.obligee_street }}<br>
            {{ sub_history.obligee_zip }} {{ sub_history.obligee_city }}</p>
        </div>
      </div>
      {# Workaround for Django bug causing infinite recursion #}
      {% with template_name="inforequests/detail-history.html" %}
        {% include template_name with inforequest=inforequest history=sub_history %}
      {% endwith %}
    </div>
  {% endfor %}
</div>
