{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequests: [chcemvediet.apps.inforequests.models.Inforequest]
 %  -- drafts: [chcemvediet.apps.inforequests.models.InforequestDraft]
 %  -- closed_inforequests: [chcemvediet.apps.inforequests.models.Inforequest]
 %
{% endcomment %}

{% block title %}{% trans 'inforequests:index:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'inforequests:index:heading' %}</h1>
  {% if inforequests %}
    {% include "inforequests/texts/index-submitted-list.html" with inforequests=inforequests drafts=drafts closed_inforequests=closed_inforequests %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span7">{% trans 'inforequests:index:obligee' %}</th>
          <th class="span2"></th>
          <th class="span3">{% trans 'inforequests:index:submission_date' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for inforequest in inforequests %}
          <tr>
            <td><a href="{% url 'inforequests:detail' inforequest.pk %}">{{ inforequest.main_branch.historicalobligee.name }}</a></td>
            <td>
              {% if inforequest.has_undecided_emails %}
                <span class="with-tooltip" data-toggle="tooltip" data-placement="right" title="{% spaceless %}{% include "inforequests/tooltips/index-new_mail.txt" %}{% endspaceless %}">
                  <i class="icon-envelope"></i> {% trans 'inforequests:index:new_mail' %}
                </span>
              {% endif %}
            </td>
            <td>{{ inforequest.submission_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    {% include "inforequests/texts/index-submitted-empty.html" with inforequests=inforequests drafts=drafts closed_inforequests=closed_inforequests %}
  {% endif %}
  <div class="clearfix">
    <a class="btn btn-primary btn-large pull-right" href="{% url 'inforequests:create' %}"><i class="icon-plus icon-white"></i> {% trans 'inforequests:index:create' %}</a>
  </div>
  {% if drafts %}
    <h2>{% trans 'inforequests:index:drafts:heading' %}</h1>
    {% include "inforequests/texts/index-drafts.html" with inforequests=inforequests drafts=drafts closed_inforequests=closed_inforequests %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans 'inforequests:index:drafts:obligee' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for draft in drafts %}
          <tr>
            {% if draft.obligee %}
              <td><a href="{% url 'inforequests:create_from_draft' draft.pk %}">{{ draft.obligee.name }}</a></td>
            {% else %}
              <td><a href="{% url 'inforequests:create_from_draft' draft.pk %}">{% trans 'inforequests:index:drafts:empty_obligee' %}</a></td>
            {% endif %}
            <td class="text-right">
              <a class="btn" href="{% url 'inforequests:create_from_draft' draft.pk %}"><i class="icon-edit"></i> {% trans 'inforequests:index:drafts:create_from_draft' %}</a>
              <a class="btn post confirm" href="{% url 'inforequests:delete_draft' draft.pk %}" data-post-csrfmiddlewaretoken="{{ csrf_token }}"
                 data-confirm="{% trans 'inforequests:index:draft:delete:confirm' %}"><i class="icon-trash"></i> {% trans 'inforequests:index:draft:delete' %}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if closed_inforequests %}
    <h2>{% trans 'inforequests:index:closed:heading' %}</h1>
    {% include "inforequests/texts/index-closed.html" with inforequests=inforequests drafts=drafts closed_inforequests=closed_inforequests %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span9">{% trans 'inforequests:index:closed:obligee' %}</th>
          <th class="span3">{% trans 'inforequests:index:closed:submission_date' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for inforequest in closed_inforequests %}
          <tr>
            <td><a href="{% url 'inforequests:detail' inforequest.pk %}">{{ inforequest.main_branch.historicalobligee.name }}</a></td>
            <td>{{ inforequest.submission_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
