{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends base_template|default:"main/homepage/blogs/base.html" %}
{% load static %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block link %}https://dennikn.sk/blog/96006/rozdiely-vo-vybavovani-infoziadosti-su-velke/{% endblock %}
{% block img %}{% static "main/images/blog/rozdiely_vo_vybavovani.jpg" %}{% endblock %}
{% block date %}9. apríl 2015{% endblock %}
{% block heading %}Rozdiely vo vybavovaní infožiadostí sú veľké.{% endblock %}
{% block text %}
  V diskusii k novele infozákona sa veľa hovorí o inštitúciách a o tom, aké sú pre ne infožiadosti
  administratívnou záťažou. Menej sa už hovorí o žiadateľovi a o tom, čo všetko musí urobiť, ak chce
  od inštitúcie získať informácie.
{% endblock %}
