{# vim: set filetype=htmldjango :#}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.disclosure.DisclosureAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.disclosure.DisclosureAppealReasonStep
 %  -- not_at_all: boolean
 %
{% endcomment %}

<h4>{% if not_at_all %}Ani len čiastočné{% else %}Neúplné{% endif %} sprístupnenie</h4>
<p>
  {% if not_at_all %}
    Inštitúcia síce niečo poslala, ale nebola to informácia, ktorú ste žiadali. Rozhodnutie
    o nesprístupnení informácie chýbalo, čo je porušenie zákona. Doplňte do odvolania, čo ste
    dostali a prečo to nie je to, čo ste žiadali.
  {% else %}
    Inštitúcia síce niečo poslala, ale nebolo to všetko, čo ste žiadali. Rozhodnutie o čiastočnom
    sprístupnení informácie chýbalo, čo je porušenie zákona. Doplňte do odvolania, čo ste dostali
    a čo chýba.
  {% endif %}
</p>
