{# vim: set filetype=htmldjango :#}
{% load negate from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.AppealFinalStep
 %  -- deadline_missed_at_today: bool | undefined
 %  -- deadline_remaining_at_today: int | undefined
 %  -- deadline_missed_at_effective_date: bool | undefined
 %  -- deadline_remaining_at_effective_date: int | undefined
 %
{% endcomment %}

<p>Skontrolujte, vytlacte a dokoncite odvolanie.</p>

{% if deadline_missed_at_today %}
  <div class="alert alert-block">
    <h4>Zmeškaný termin</h4>
    <p>
    Termin na podanie odvolania vypršal pred {{ deadline_remaining_at_today|negate }} pracovnými
    dnami.
    </p>
  </div>
{% elif deadline_missed_at_effective_date %}
  <div class="alert alert-block">
    <h4>Dátum po termíne</h4>
    <p>
    Zadaný dátum odvolania {{ wizard.values.effective_date }} je
    {{ deadline_remaining_at_effective_date|negate }} pracovných dní po termíne na podanie
    odvolanie.
    </p>
  </div>
{% endif %}
