{# vim: set filetype=htmldjango :#}
{% load paper_field from chcemvediet.inforequests %}

{% comment %}
 %
 % Context:
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealBusinessSecretPublicFundsStep
 %  -- first_reason: boolean
 %
{% endcomment %}


<h4>Obchodné tajomstvo - verejné prostriedky</h4>
<div class="alert">
  Ak povinná osoba dôverihodne odôvodnila, že informácia je naozaj obchodným tajomstvom, odvolanie
  nemá zmysel podávať.
</div>
<p>
  Ako {% if not first_reason %}ďalší{% endif %} dôvod nesprístupnenia informácie bolo uvedené, že
  žiadaná informácia je obchodným tajomstvom.
</p>
<p>
  Výnimku z ochrany obchodného tajomstva však podľa  § 10 ods. 2 zákona nemožno uplnatniť pri
  informáciách týkajúcich sa používania verejných prostriedkov alebo nakladania s majetkom štátu,
  obce, vyššieho územného celku alebo majetkom právnických osôb zriadených zákonom, na základe
  zákona alebo nakladania s finančnými prostriedkami Európskej únie.
</p>
<p>
  Týka sa žiadaná informácia používania verejných prostriedkov?
  {% paper_field step.business_secret_public_funds %}
</p>
