{# vim: set filetype=htmldjango :#}
{% load squeeze from poleno.utils %}
{% load paper_field from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealSanitizationLevelStep
 %  -- number_of_reasons: int
 %  -- sanitizable: set of chcemvediet.apps.inforequests.models.action.Action.REFUSAL_REASONS
 %
{% endcomment %}


<h4>Začiernenie citlivých informácií</h4>
<p>
  {% if number_of_reasons == 1 %}
    Ako dôvod
  {% elif number_of_reasons == sanitizable|length %}
    Ako dôvody
  {% else %}
    Medzi dôvodmi
  {% endif %}
  nesprístupnenia informácie bolo uvedené, že žiadaná informácia je
  {% for reason in sanitizable %}
    {% filter squeeze %}
      {% if reason == last_action.REFUSAL_REASONS.BUSINESS_SECRET %}
        obchodné tajomstvo
      {% elif reason == last_action.REFUSAL_REASONS.PERSONAL %}
        osobný údaj podliehajúci ochrane
      {% elif reason == last_action.REFUSAL_REASONS.CONFIDENTIAL %}
        utajovaná skutočnosť
      {% endif %}
    {% endfilter squeeze %}{% if forloop.revcounter > 2 %},{% elif forloop.revcounter == 2 %} a {% else %}.{% endif %}
  {% endfor %}
</p>
<p>
  Aj keby platilo, že časť žiadanej informácie nemôže inštitúcia sprístupniť, stále máte právo na
  zvyšok informácie. Znamená to, že inštitúcia ma informáciu zverejniť tak, že
  {% for reason in sanitizable %}
    {% filter squeeze %}
      {% if reason == last_action.REFUSAL_REASONS.BUSINESS_SECRET %}
        obchodné tajomstvo
      {% elif reason == last_action.REFUSAL_REASONS.PERSONAL %}
        osobné údaje podliehajúce ochrane
      {% elif reason == last_action.REFUSAL_REASONS.CONFIDENTIAL %}
        utajované skutočnosti
      {% endif %}
    {% endfilter squeeze %}{% if forloop.revcounter > 2 %},{% elif forloop.revcounter == 2 %} a {% else %}{% endif %}
  {% endfor %}
  vyčierni a sprístupni aspoň dokument, v ktorom sú čitateľné všetky ostatné informácie. Stáva sa
  však, že inštitúcia nesprístupní dokument vôbec, alebo v ňom vyčierni viac, ako by bolo nutné.
</p>
<p>
  Stalo sa tak?
  {% paper_field step.sanitization_level %}
</p>
