{# vim: set filetype=htmldjango :#}
{% load paper_field from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealBusinessSecretPublicFundsStep
 %  -- reason_number_in_wizard: int
 %  -- number_of_reasons: int
 %
{% endcomment %}


<h4>Obchodné tajomstvo</h4>
<p>
  Ako {% include "inforequests/appeals/texts/refusal-cislo-dovodu.html" %} dôvod nesprístupnenia
  informácie bolo uvedené, že žiadaná informácia je obchodným tajomstvom.
</p>
<p>
  Výnimku z ochrany obchodného tajomstva však podľa  § 10 ods. 2 zákona nemožno uplnatniť pri
  informáciách týkajúcich sa používania verejných prostriedkov alebo nakladania s majetkom štátu,
  obce, vyššieho územného celku alebo majetkom právnických osôb zriadených zákonom, na základe
  zákona alebo nakladania s finančnými prostriedkami Európskej únie.
</p>
<p>
  Týka sa žiadaná informácia používania verejných prostriedkov?
  {% paper_field step.business_secret_public_funds %}
</p>
