{# vim: set filetype=htmldjango :#}
{% load paper_field from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealPersonalOfficerStep
 %  -- reason_number_in_wizard: int
 %  -- number_of_reasons: int
 %
{% endcomment %}


<h4>Osobné údaje</h4>
<p>
  Ako {% include "inforequests/appeals/texts/refusal-cislo-dovodu.html" %} dôvod nesprístupnenia
  informácie bolo uvedené, že žiadaná informácia podlieha ochrane osobných údajov. Osobné údaje
  tretích osôb inštitúcia sprístupniť nemôže. Avšak napríklad platy vedúcich zamestnancov, sú
  verejné. Týkajú sa žiadané osobné údaje verejných zamestnancov?
  {% paper_field step.personal_officer %}
</p>

