{# vim: set filetype=htmldjango :#}
{% extends "admin/base_site.html" %}
{% load admin_urlname admin_urlquote from admin_urls %}
{% load static from admin_static %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
    &rsaquo; Bulk add invitation
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
    {% if invitations == None %}
      <form action="" method="post" id="{{ opts.model_name }}_form">
        {% csrf_token %}
        <div>
          {% if adminform.form.errors %}
            <p class="errornote">Please correct the errors below.</p>
            {{ adminform.form.non_field_errors }}
          {% endif %}
          {% for fieldset in adminform %}
            {% include "admin/includes/fieldset.html" %}
          {% endfor %}
        </div>
        <div class="submit-row">
          <input type="submit" value="Save" class="default" name="_save" />
        </div>
      </form>
    {% else %}
      <p>Successully created {{ invitations|length }} invitations.</p>
      <table style="width: 100%;">
        <thead>
          <tr>
            <th>Invitation</th>
            <th>E-mail</th>
            <th>Accept URL</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for invitation in invitations %}
            <tr class="{% cycle "row1" "row2" %}">
              <td><a href="{% url "admin:invitations_invitation_change" invitation.pk %}">&lt;Invitation: {{ invitation.pk }}&gt;</a></td>
              <td>{{ invitation.email }}</td>
              <td>{{ invitation.accept_url }}</td>
              {% if invitation.message %}
                <td><a href="{% url "admin:mail_message_change" invitation.message.pk %}">&lt;Message: {{ invitation.message.pk }}&gt;</a></td>
              {% else %}
                <td>--</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <ul class="object-tools" style="margin: 1em 0 1em 0;">
        <li>
          <a href="{% url "admin:invitations_invitation_changelist" %}">OK</a>
        </li>
      </ul>
    {% endif %}
  </div>
{% endblock %}
