{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% block title %}{% blocktrans %}Profile{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}User Profile{% endblocktrans %} <small>{{ user.get_full_name }}</small></h1>
  <div class="row">
    <p class="span2 text-right">{% blocktrans %}E-mail{% endblocktrans %}:</p>
    <p class="span10">{{ user.email }}</p>
  </div>
  <div class="row">
    <p class="span2 text-right">{% blocktrans %}Street{% endblocktrans %}:</p>
    <p class="span10">{{ user.profile.street }}</p>
  </div>
  <div class="row">
    <p class="span2 text-right">{% blocktrans %}City{% endblocktrans %}:</p>
    <p class="span10">{{ user.profile.city }}</p>
  </div>
  <div class="row">
    <p class="span2 text-right">{% blocktrans %}Zip{% endblocktrans %}:</p>
    <p class="span10">{{ user.profile.zip }}</p>
  </div>
  <p>
    <a class="btn" href="{% url 'account_change_password' %}">{% blocktrans %}Change Password{% endblocktrans %}</a>
    <a class="btn" href="{% url 'account_email' %}">{% blocktrans %}Manage E-mails{% endblocktrans %}</a>
    <a class="btn" href="{% url 'socialaccount_connections' %}">{% blocktrans %}Manage Connections{% endblocktrans %}</a>
  </p>
{% endblock %}

