{% extends "main/base/single_column.html" %}

{% block title %}Profile | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>User Profile <small>{{ user.get_full_name }}</small></h1>
  {% include "main/snippets/messages.html" %}
  <div class="row">
    <p class="span2 text-right">E-mail:</p>
    <p class="span10">{{ user.email }}</p>
  </div>
  <div class="row">
    <p class="span2 text-right">Street:</p>
    <p class="span10">{{ user.profile.street }}</p>
  </div>
  <div class="row">
    <p class="span2 text-right">City:</p>
    <p class="span10">{{ user.profile.city }}</p>
  </div>
  <div class="row">
    <p class="span2 text-right">Zip:</p>
    <p class="span10">{{ user.profile.zip }}</p>
  </div>
  <p>
    <a class="btn" href="{% url 'account_change_password' %}">Change Password</a>
    <a class="btn" href="{% url 'account_email' %}">Manage E-mails</a>
    <a class="btn" href="{% url 'socialaccount_connections' %}">Manage Connections</a>
  </p>
{% endblock %}

