{# vim: set filetype=htmldjango :#}
{% load paper_field paragraph from chcemvediet.wizards %}
{% load obligee_declension from chcemvediet.inforequests %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.advancement.AdvancementAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.advancement.AdvancementAppealReasonStep
 %         | chcemvediet.apps.inforequests.forms.appeals.AppealPaperStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- not_at_all: boolean
 %
{% endcomment %}

{% paragraph before=2 %}
  Dňa {{ last_action.effective_date|date:"d.m.Y" }} mi povinná osoba doručila oznámenie
  {% if last_action.file_number %} číslo {{ last_action.file_number}}{% endif%}
  o postúpeni žiadosti
  {% for subbranch in last_action.advanced_to_set.all %}
    {% if forloop.revcounter == 1 %}
      {% obligee_declension subbranch.historicalobligee "dative" %}.
    {% elif forloop.revcounter == 2 %}
      {% obligee_declension subbranch.historicalobligee "dative" %} a
    {% else %}
      {% obligee_declension subbranch.historicalobligee "dative" %},
    {% endif %}
  {% endfor %}
  Oznámenie
  {% if not_at_all %}neobsahovalo ani len{% else %}obsahovalo iba{% endif%}
  čiastočné sprístupnenie žiadanej informácie.
  Postúpenie v zmysle § 15 zákona je možné len vtedy, keď povinná osoba požadovanú informáciu nemá.
{% endparagraph %}
{% paragraph %}
  Podľa Rozsudku Krajského súdu v Bratislave sp. zn. 19 S 31/02 zo dňa 16. mája 2002 (Rs 37/2003)
  <em>„Povinná osoba disponuje požadovanými informáciami, okrem iného, aj vtedy, ak s požadovanými
  informáciami pri svojej činnosti pracuje, resp. ak sú predmetom jej činnosti. Dostatočným dôvodom
  na odmietnutie poskytnutia informácií nebude skutočnosť, že požadovanú informáciu má k dispozícii
  len organizačná zložka (súčasť) povinnej osoby alebo len odkaz na to, že táto nie je podľa
  vnútorných predpisov povinná požadované informácie uschovávať.“ </em>
{% endparagraph %}
{% paragraph editable=True %}
  {% paper_field step.reason %}
{% endparagraph %}
{% paragraph %}
  Podľa uvedeného mám teda dôvod sa domnievať, že povinná osoba uvedenú informáciu má alebo mala
  k dispozícii a teda moju žiadosť nemala postupovať. 
{% endparagraph %}
{% paragraph %}
  V zmysle uvedeneho rozsudku aj list povinnej osoby je potrebné považovať za rozhodnutie, ak jeho
  obsahom bola žiadosť o informáciu odmietnutá. Preto list o postúpení považujem za formu
  rozhodnutia.
{% endparagraph %}
