{# vim: set filetype=htmldjango :#}
{% extends "inforequests/appeals/papers/base.html" %}
{% load paragraph from chcemvediet.inforequests %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.expiration.ExpirationAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.expiration.ExpirationAppealPaperStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- rozklad: boolean
 %  -- fiktivne: boolean
 %  -- not_at_all: boolean
 %  -- finalize: boolean
 %
{% endcomment %}

{% block "reasoning" %}
  {% paragraph before=0 %}
    Podľa § 18 ods. 2 a 3 zákona o slobode informácií, <em>„ak povinná osoba žiadosti nevyhovie hoci len
    sčasti, vydá o tom v zákonom stanovenej lehote písomné rozhodnutie. Ak povinná osoba v lehote na
    vybavenie žiadosti neposkytla informácie či nevydala rozhodnutie a ani informáciu nesprístupnila,
    predpokladá sa, že vydala rozhodnutie, ktorým odmietla poskytnúť informáciu. Za deň doručenia
    rozhodnutia sa v tomto prípade považuje tretí deň od uplynutia lehoty na vybavenie žiadosti.„“</em>
  {% endparagraph %}
  {% paragraph after=2 %}
    Lehota na vybavenie žiadosti márne uplynula. Došlo teda k vydaniu fiktívneho rozhodnutia.
    Podľa rozsudku Krajského súdu v Bratislave sp. zn. 19 S 31/02 zo dňa 16. mája 2002 (Rs 37/2003)
    <em>„Ustanovenie § 19 ods. 3 zákona o slobode informácií (a rovnako aj ust. § 18 ods. 3 zákona
    o slobode informácií) treba vykladať tak, že nezbavuje správny orgán povinnosti riadne vykonať
    odvolacie (prvostupňové) konanie a následne vydať riadne rozhodnutie. Účelom zavedenia inštitútu
    fiktívneho rozhodnutia určite nebolo „legalizovať“ nečinnosť povinných osôb pri rozhodovaní
    o žiadostiach podľa zákona o slobodnom prístupe k informáciám. Práve naopak, jeho účelom bolo
    poskytnúť ochranu tomu, kto sa obrátil so žiadosťou na povinnú osobu o sprístupnenie informácie,
    pred jej nečinnosťou. ... Súd dospel k záveru, že rozhodnutie žalovaného v zmysle § 19 ods. 3 ZSI
    treba považovať za nezákonné z dôvodu, že neobsahuje zákonom predpísané náležitosti. Predovšetkým
    neobsahuje odôvodnenie, z ktorého dôvodu je nepreskúmateľné, čo samo osebe je dôvodom pre zrušenie
    takéhoto rozhodnutia (§ 250j ods. 2 veta druhá O.s.p.). Nakoľko aj prvostupňové rozhodnutie
    povinnej osoby trpí nedostatkom dôvodov, bolo potrebné aj toto rozhodnutie považovať za
    nepreskúmateľné.“</em>
  {% endparagraph %}
{% endblock %}




