{# vim: set filetype=htmldjango :#}
{% extends "inforequests/appeals/papers/base.html" %}
{% load paper_field paragraph from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.fallback.FallbackAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.fallback.FallbackAppealPaperStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- rozklad: boolean
 %  -- fiktivne: boolean
 %  -- not_at_all: boolean
 %  -- finalize: boolean
 %
{% endcomment %}

{% block reasoning %}
  {% paragraph before=0 after=2 editable=True %}
    {% paper_field step.reason %}
  {% endparagraph %}
{% endblock %}
