{# vim: set filetype=htmldjango :#}
{% load paper_field paragraph from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealDoesNotProvidePublicFundsReasonStep
 %         | chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealPaperStep
 %  -- reason_number_on_paper: int
 %  -- number_of_reasons: int
 %
{% endcomment %}


{% paragraph before=0 after=0 editable=True %}
  Ako {% include "inforequests/appeals/papers/refusal-cislo-dovodu.html" %} dôvod nesprístupnenia
  informácie bolo uvedené, že povinná osoba žiadanú informáciu neposkytuje. Rozsah informácií,
  ktoré povinná osoba má povinnosť sprístupňovať je uvedený v § 3 ods. 2 zákona. Požadovaná
  informácia je nakladaním s verejným majetkom,
  lebo{% paper_field step.does_not_provide_public_funds_reason %}
{% endparagraph %}
{% paragraph after=2 %}
  V rozsudku Najvyššieho súdu SR sp. zn. 1 Sžo 103/2008 zo dňa 8. septembra 2009 sa zdôrazňuje, že
  povinnosť sprístupniť informáciu o hospodárení, ktorou mnou požadovaná informácia nepochybne je,
  <em>"je daná predovšetkým tým, že ide o nakladanie s majetkom obce a preto neobstojí ani námietka
  žalovaného v odôvodnení jeho rozhodnutia v súvislosti s definovaním pojmov verejné prostriedky
  a právnické osoby verejnej správy.“</em>
{% endparagraph %}
