{# vim: set filetype=htmldjango :#}
{% load paper_field paragraph from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealBusinessSecretFallbackReasonStep
 %         | chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealPaperStep
 %  -- reason_number_on_paper: int
 %  -- number_of_reasons: int
 %
{% endcomment %}

{% if step.key == "business_secret_fallback_reason" or wizard.values.business_secret_fallback %}
  {% paragraph before=0 after=2 editable=True %}
    Ako {% include "inforequests/appeals/papers/refusal-cislo-dovodu.html" %} dôvod nesprístupnenia
    informácie bolo uvedené, že žiadaná informácia je obchodným tajomstvom.
    {% paper_field step.business_secret_fallback_reason %}
  {% endparagraph %}
{% endif %}
