{# vim: set filetype=htmldjango :#}
{% load paper_field paragraph from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealPersonalOfficerReasonStep
 %         | chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealPaperStep
 %  -- reason_number_on_paper: int
 %  -- number_of_reasons: int
 %
{% endcomment %}


{% paragraph before=0 %}
  Ako {% include "inforequests/appeals/papers/refusal-cislo-dovodu.html" %} nesprístupnenia
  informácie bolo uvedené, že žiadaná informácia podlieha ochrane osobných údajov.
{% endparagraph %}
{% paragraph after=2 editable=True %}
  Na žiadanú informáciu sa vzťahuje § 9 ods. 3 zákona, podľa ktorého <em>„povinná osoba sprístupní
  osobné údaje fyzickej osoby, ktorá je verejným funkcionárom, poslancom obecného zastupiteľstva,
  predstaveným v štátnej službe, odborníkom plniacim úlohy pre člena vlády Slovenskej republiky,
  prezidenta Slovenskej republiky, predsedu Národnej rady Slovenskej republiky alebo podpredsedu
  Národnej rady Slovenskej republiky, vedúcim zamestnancom vykonávajúcim práce vo verejnom záujme,
  vedúcim zamestnancom zamestnávateľa, ktorým je orgán verejnej moci, nadriadeným v služobnom
  pomere alebo členom hodnotiacej komisie alebo iného obdobného orgánu, ktorý sa zúčastňuje na
  procese rozhodovania o použití verejných prostriedkov, v rozsahu titul, meno, priezvisko, funkcia
  a deň ustanovenia alebo vymenovania do funkcie, pracovné zaradenie a deň začiatku výkonu
  pracovnej činnosti, miesto výkonu funkcie alebo pracovnej činnosti a orgán, v ktorom túto funkciu
  alebo činnosť vykonáva, mzda, plat alebo platové pomery a ďalšie finančné náležitosti priznané za
  výkon funkcie alebo za výkon pracovnej činnosti, ak sú uhrádzané zo štátneho rozpočtu alebo
  z iného verejného rozpočtu.“</em>
  {% paper_field step.personal_officer_reason %}
{% endparagraph %}
