{# vim: set filetype=htmldjango :#}
{% load assign from poleno.utils %}
{% load paper_field paragraph from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealBusinessSecretDefinitionReasonStep
 %         | chcemvediet.apps.inforequests.forms.appeals.refusal.RefusalAppealPaperStep
 %  -- reason_number_on_paper: int
 %  -- number_of_reasons: int
 %
{% endcomment %}


{% paragraph before=0 %}
  Ako {% include "inforequests/appeals/papers/refusal-cislo-dovodu.html" %} dôvod nesprístupnenia
  informácie bolo uvedené, že žiadaná informácia je obchodným tajomstvom.
{% endparagraph %}
{% if wizard.values.business_secret_public_funds %}
  {% if wizard.values.business_secret_definition %}{% assign after=1 %}{% else %}{% assign after=2 %}{% endif %}
  {% paragraph after=after %}
    Výnimku z ochrany obchodného tajomstva však podľa  § 10 ods. 2 zákona nemožno uplnatniť pri
    informáciách týkajúcich sa používania verejných prostriedkov alebo nakladania s majetkom štátu,
    obce, vyššieho územného celku alebo majetkom právnických osôb zriadených zákonom, na základe
    zákona alebo nakladania s finančnými prostriedkami Európskej únie. Žiadaná informácia sa týka
    takýchto informácií.
  {% endparagraph %}
{% endif %}
{% if wizard.values.business_secret_definition %}
  {% paragraph %}
    Pojem obchodné tajomstvo je definovaný v §  17 zákona č. 513/1991 Zb. Obchodný zákonník, podľa
    ktorého ide o <em>„všetky skutočnosti obchodnej, výrobnej alebo technickej povahy súvisiace
    s podnikom, ktoré majú skutočnú alebo aspoň potenciálnu materiálnu alebo nemateriálnu hodnotu,
    nie sú v príslušných obchodných kruhoch bežne dostupné, majú byť podľa vôle podnikateľa utajené
    a podnikateľ zodpovedajúcim spôsobom ich utajenie zabezpečuje“.</em> Informácia je obchodným
    tajomstvom len vtedy, ak súčasne spĺňa všetkých týchto päť znakov (Rozsudok Najvyššieho súdu SR
    sp. zn. 5 Obo 98/99).
  {% endparagraph %}
  {% paragraph after=2 editable=True %}
    Túto charakteristiku žiadaná informácia nespĺňa, pretože
    {% for choice in wizard.values.business_secret_definition %}
      {% if choice == "comercial" %}
        {% if forloop.first %}nejde{% else %}Nejde{% endif %}
        o skutočnosť obchodnej, výrobnej alebo technickej povahy súvisiacu s podnikom,
        nakoľko{% paper_field step.business_secret_definition_reason_comercial %}
      {% elif choice == "value" %}
        {% if forloop.first %}{% else %}Žiadaná informácia{% endif %}
        nemá ani len potenciálnu materiálnu alebo nemateriálnu hodnotu,
        nakoľko{% paper_field step.business_secret_definition_reason_value %}
      {% elif choice == "common" %}
        {% if forloop.first %}{% else %}Žiadaná informácia{% endif %}
        je v príslušných obchodných kruhoch bežne dostupná,
        nakoľko{% paper_field step.business_secret_definition_reason_common %}
      {% elif choice == "will" %}
        {% if forloop.first %}{% else %}Žiadaná informácia{% endif %}
        nie je podľa vôle podnikateľa utajená,
        nakoľko{% paper_field step.business_secret_definition_reason_will %}
      {% elif choice == "ensured" %}
        {% if forloop.first %}podnikateľ jej utajenie{% else %}Podnikateľ utajenie žiadanej informácie{% endif %}
        zodpovedajúcim spôsobom nezabezpečuje,
        nakoľko{% paper_field step.business_secret_definition_reason_ensured %}
      {% endif %}
    {% endfor %}
  {% endparagraph %}
{% endif %}
