{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- login_url: string
 %
{% endcomment %}

<p>Please register filling the form below. Already have an account? Then please <a href="{{ login_url }}">sign in</a>. Or, you can sign up
with one of your existing third party accounts, which can be more comfortable.</p>

<p>The information you provide will be not used for spam, marketing, or any other activities not related to information requests.<p>


