{# vim: set filetype=htmldjango :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

<p>This part of the site requires us to verify that you are who you claim to be. For this purpose,
we require that you verify ownership of your e-mail address.</p>
<p>We have sent an e-mail to you for verification. Please click on the link inside this e-mail.
Please contact us if you do not receive it within a few minutes.</p>
<div class="alert alert-info">
  <strong>Note:</strong> you can still <a href="{% url 'account_email' %}">change your e-mail address</a>.
</div>
