{# vim: set filetype=htmldjango :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

<p>Táto časť stránky vyžaduje, aby sme overili vašu emailovú adresu. </p>
<p>Poslali sme Vám verifikačný email. Prosím, kliknite na odkaz, ktorý sa nachádza v tomto emaili. Ak by Vám email neprišiel do pár minút, skontrolujte si spamový priečinok. </p>
<div class="alert alert-info">
  <strong>Poznámka:</strong>Vašu emailovú adresu si vždy môžete <a href="{% url 'account_email' %}">zmeniť</a>.
</div>

