{# vim: set filetype=htmldjango :#}

{% comment %}
 %
 % Context:
 %  -- login_url: string (optional)
 %  -- signup_url: string (optional)
 %
{% endcomment %}

<div class="alert alert-block alert-info">
  <h4>Why do I have to register?</h4>
<p>Registration is necessary for your comfort and also for the necessary formalities:<p>
<ul>
<li>Every inforequest must include the postal address. </li>
<li>In case of refusal, the institution will send a written resolution, not an email.</li>
<li>If you would send an appeal, that must be in a written form (yes, really, on a paper -- we did not made that up).</li>
</ul>
</div>
