{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/homepage/casestudy/base.html" %}
{% load static %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block link %}https://www.facebook.com/chcemvedietsk/posts/1737298786550549{% endblock %}
{% block img %}{% static "main/images/casestudy/ako_pomaha_nas_portal.jpg" %}{% endblock %}
{% block date %}11. august 2016{% endblock %}
{% block heading %}Ako pomáha náš portál v investigatíve.{% endblock %}
{% block text %}
  Ale aj o ďalších nástrojoch, hovorí J. Suchal v prednáške. Náš portál sa objaví v 23:20.
{% endblock %}
