{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/homepage/casestudy/base.html" %}
{% load static %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block link %}https://www.youtube.com/watch?v=7z4VgEbCBOk{% endblock %}
{% block img %}{% static "main/images/casestudy/ako_infoziadosti_pomahaju.jpg" %}{% endblock %}
{% block date %}4. október 2018{% endblock %}
{% block heading %}Ako infožiadosti pomáhajú zvýšiť transparentnosť majetku úradníkov?{% endblock %}
{% block text %}
  Investigatívny novinár M. Turček si vyžiadal zdôvodnenie predaja majetku obce Jelenec riaditeľovi
  KÚFS.
{% endblock %}
