{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/homepage/casestudy/base.html" %}
{% load static %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block link %}https://www.aktuality.sk/clanok/693148/sef-danovych-kriminalistov-kupuje-majetky-odmieta-ich-komentovat/{% endblock %}
{% block img %}{% static "main/images/casestudy/sef_danovych_kriminalistov.jpg" %}{% endblock %}
{% block date %}6. jún 2019{% endblock %}
{% block heading %}S akými utajovaniami sa stretávajú investigatívci?{% endblock %}
{% block text %}
  A ako sa s tým vysporiadať? Nadácia Zastavme korupciu vyhrala súd o informácie.
{% endblock %}
