{# vim: set filetype=htmldjango :#}

{% comment %}
 %
 % Context:
 %  -- devtools: html | None
 %
{% endcomment %}

{% if DEBUG and devtools %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench icon-white"></i> <b class="caret"></b></a>
    <div class="dropdown-menu dropdown-panel">
      <div class="span4">
        <p class="alert"><strong>Note:</strong> You see these tools because development mode is enabled.</p>
        {% include devtools %}
      </div>
    </div>
  </li>
{% endif %}
