{# vim: set filetype=htmldjango :#}
{% load blocktrans from i18n %}
{% load active from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

<li {% if request|active:'about' %}class="active"{% endif %}><a href="{% url 'about' %}">{% blocktrans %}About Project{% endblocktrans %}</a></li>
<li {% if request|active:'inforequests' %}class="active"{% endif %}><a href="{% url 'inforequests:index' %}">{% blocktrans %}Requests{% endblocktrans %}</a></li>
<li {% if request|active:'obligees' %}class="active"{% endif %}><a href="{% url 'obligees:index' %}">{% blocktrans %}Obligees{% endblocktrans %}</a></li>
