{# vim: set filetype=htmldjango :#}
{% load blocktrans from i18n %}
{% load active from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% if user.is_authenticated %}
  <li class="dropdown {% if request|active:'accounts' %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'accounts:profile' %}">{% blocktrans %}User Profile{% endblocktrans %}</a></li>
      <li><a href="{% url 'account_change_password' %}">{% blocktrans %}Change Password{% endblocktrans %}</a></li>
      <li><a href="{% url 'account_email' %}">{% blocktrans %}Manage E-mails{% endblocktrans %}</a></li>
      <li><a href="{% url 'socialaccount_connections' %}">{% blocktrans %}Manage Connections{% endblocktrans %}</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'account_logout' %}" class="post" data-post-csrfmiddlewaretoken="{{ csrf_token }}">{% blocktrans %}Log Out{% endblocktrans %}</a></li>
    </ul>
  </li>
{% else %}
  <li {% if request|active:'account_login' %}class="active"{% endif %}><a href="{% url 'account_login' %}">{% blocktrans %}Sign In{% endblocktrans %}</a></li>
  <li {% if request|active:'account_signup' %}class="active"{% endif %}><a href="{% url 'account_signup' %}">{% blocktrans %}Sign Up{% endblocktrans %}</a></li>
{% endif %}
