{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- oauth_client: allauth.socialaccount.providers.oauth.client.OAuthClient (optional)
 %
{% endcomment %}

{% block title %}{% trans 'socialaccount:authentication_error:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'socialaccount:authentication_error:heading' %}</h1>
  {% include "socialaccount/texts/authentication_error-text.html" %}
{% endblock %}
