{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}

{% comment %}
 %
 % Context:
 %  -- oauth_client: allauth.socialaccount.providers.oauth.client.OAuthClient (optional)
 %
{% endcomment %}

{% block title %}{% blocktrans %}Social Network Login Failure{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% blocktrans %}Social Network Login Failure{% endblocktrans %}</h1>
  {% include "socialaccount/texts/authentication_error-text.html" %}
{% endblock %}
