{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load lorem from poleno.utils %}

{% block title %}{% blocktrans %}Account Connections{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Account Connections{% endblocktrans %}</h1>
  {% if form.accounts %}
    <p>{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}</p>
    <form class="form-horizontal" method="post" action=".">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="control-group error">
          <div class="controls">
            <span class="help-block">{{ form.non_field_errors|join:" " }}<span>
          </div>
        </div>
      {% endif %}
      <div class="control-group">
        <div class="controls">
          {% for base_account in form.accounts %}
            <label class="radio">
              <input type="radio" name="account" value="{{ base_account.id }}">
              {{ base_account.get_provider_account.get_brand.name }}: {{ base_account.get_provider_account }}
            </label>
          {% endfor %}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% blocktrans %}Remove Connection{% endblocktrans %}</button>
      </div>
    </form>
  {% else %}
    <p>{% blocktrans %}You currently have no social network accounts connected to this account.{% endblocktrans %}</p>
  {% endif %}

  <h3>{% blocktrans %}Add a 3rd Party Account{% endblocktrans %}</h3>
  <p>[{% lorem 37 %}]</p>
  <div class="row">
    <p class="span2 text-right" style="padding-top: 5px;">{% blocktrans %}Connect With{% endblocktrans %}:</p>
    <p class="span10">
      {% include "account/snippets/social_login_buttons.html" with process="connect" %}
    </p>
  </div>
{% endblock %}



