{% extends "main/base/single_column.html" %}
{% load blocktrans from i18n %}
{% load lorem from poleno.utils %}

{% block title %}{% blocktrans %}Sign Up{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block main_col %}
  <h1>{% blocktrans %}Sign Up{% endblocktrans %}</h1>
  <form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    <div class="row">
      <p class="span6">
        You are about to use your {{ account.get_provider.name }} account to login to {{ site.name }}.
        As a final step, please complete the following form:</p>
    </div>
    <div class="row">
      <div class="span6">
        {% include "main/snippets/form_horizontal.html" with form=form %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
      </div>
      <div class="span6">
        <div class="alert alert-block alert-info">
          <h4>Why do I have to register?</h4>
          <p>{% lorem 41 %}</p>
          <p>{% lorem 42 %}</p>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% blocktrans %}Sign Up{% endblocktrans %} &raquo;</button>
    </div>
  </form>
{% endblock %}
