{# vim: set filetype=htmldjango :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- account: allauth.socialaccount.models.SocialLogin
 %  -- form: allauth.socialaccount.forms.SignupForm
 %  -- redirect_field_name: string
 %  -- redirect_field_value: string
 %
{% endcomment %}

{% block title %}{% trans 'socialaccount:signup:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'socialaccount:signup:heading' %}</h1>
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <div class="row">
      <div class="span6">
        {% include "socialaccount/texts/signup-text.html" with account=account%}
      </div>
    </div>
    <div class="row">
      <div class="span6">
        {% include "main/snippets/form_horizontal.html" with form=form %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
      </div>
      <div class="span6">
        {% include "account/texts/why_register.html" %}
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans 'socialaccount:signup:submit' %} &raquo;</button>
    </div>
  </form>
{% endblock %}
