{# vim: set filetype=htmldjango :#}
{% load squeeze method call_with from poleno.utils %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- action: chcemvediet.apps.inforequests.models.Action
 %  -- forloop
 %
{% endcomment %}

<div class="well">
  <h4>{{ action.get_type_display }}</h4>
  <div class="row-fluid">
    <p class="span2 text-right">{% trans 'inforequests:detail:action:effective_date' %}:</p>
    <p class="span10">{{ action.effective_date }}
      {% if forloop.last and action.deadline %}&mdash;
        <span class="with-tooltip" data-toggle="tooltip" data-placement="right"
              title="{% spaceless %}{% include "inforequests/detail/tooltips/deadline.txt" %}{% endspaceless %}">
          {% include "inforequests/detail/texts/deadline.html" %}
          <i class="icon-question-sign"></i>
        </span>
      {% endif %}
    </p>
  </div>
  {% if action.file_number %}
    <div class="row-fluid">
      <p class="span2 text-right">{% trans 'inforequests:detail:action:file_number' %}:</p>
      <p class="span10">{{ action.file_number }}</p>
    </div>
  {% endif %}
  {% if action.email %}
    <div class="row-fluid">
      <p class="span2 text-right">{% trans 'inforequests:detail:action:email_from' %}:</p>
      <p class="span10">{{ action.email.from_formatted }}</p>
    </div>
    <div class="row-fluid">
      <p class="span2 text-right">{% trans 'inforequests:detail:action:email_to' %}:</p>
      <p class="span10">
        {% for recipient in action.email.recipients %}
          {% filter squeeze %}
            {% if recipient.mail == action.email.received_for %}
              <b>{{ recipient.formatted }}</b>
            {% else %}
              <span>{{ recipient.formatted }}</span>
            {% endif %}
            {% if recipient.status == recipient.STATUSES.QUEUED %}
              <span class="label with-tooltip" data-toggle="tooltip" data-placement="right"
                    title="{% spaceless %}{% include "inforequests/detail/tooltips/email_queued.txt" %}{% endspaceless %}">
                {{ recipient.get_status_display }}
              </span>
            {% elif recipient.status == recipient.STATUSES.REJECTED %}
              <span class="label label-important with-tooltip" data-toggle="tooltip" data-placement="right"
                    title="{% spaceless %}{% include "inforequests/detail/tooltips/email_rejected.txt" %}{% endspaceless %}">
                {{ recipient.get_status_display }}
              </span>
            {% elif recipient.status == recipient.STATUSES.INVALID %}
              <span class="label label-important with-tooltip" data-toggle="tooltip" data-placement="right"
                    title="{% spaceless %}{% include "inforequests/detail/tooltips/email_invalid.txt"   %}{% endspaceless %}">
                {{ recipient.get_status_display }}
              </span>
            {% elif recipient.status == recipient.STATUSES.SENT %}
              <span class="label label-info with-tooltip" data-toggle="tooltip" data-placement="right"
                    title="{% spaceless %}{% include "inforequests/detail/tooltips/email_sent.txt" %}{% endspaceless %}">
                {{ recipient.get_status_display }}
              </span>
            {% elif recipient.status == recipient.STATUSES.DELIVERED %}
              <span class="label label-success with-tooltip" data-toggle="tooltip" data-placement="right"
                    title="{% spaceless %}{% include "inforequests/detail/tooltips/email_delivered.txt" %}{% endspaceless %}">
                {{ recipient.get_status_display }}
              </span>
            {% elif recipient.status == recipient.STATUSES.OPENED %}
              <span class="label label-success with-tooltip" data-toggle="tooltip" data-placement="right"
                    title="{% spaceless %}{% include "inforequests/detail/tooltips/email_opened.txt" %}{% endspaceless %}">
                {{ recipient.get_status_display }}
              </span>
            {% endif %}
          {% endfilter %}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
    </div>
  {% endif %}
  {% if action.subject %}
    <div class="row-fluid">
      <p class="span2 text-right">{% trans 'inforequests:detail:action:subject' %}:</p>
      <p class="span10">{{ action.subject }}</p>
    </div>
  {% endif %}
  {% if action.disclosure_level %}
    <div class="row-fluid">
      <p class="span2 text-right">{% trans 'inforequests:detail:action:disclosure_level' %}:</p>
      <p class="span10">{{ action.get_disclosure_level_display }}</p>
    </div>
  {% endif %}
  {% if action.refusal_reason %}
    <div class="row-fluid">
      <p class="span2 text-right">{% trans 'inforequests:detail:action:refusal_reason' %}:</p>
      <p class="span10">{{ action.get_refusal_reason_display }}</p>
    </div>
  {% endif %}
  {% if action.attachments %}
    <div class="row-fluid">
      <p class="span2 text-right">{% trans 'inforequests:detail:action:attachments' %}:</p>
      <p class="span10">
        {% for attachment in action.attachments %}
          <a href="{% url 'inforequests:download_attachment' attachment.pk %}">
            <span class="label label-info">{{ attachment.name }}</span>
          </a>
        {% endfor %}
      </p>
    </div>
  {% endif %}
  {% if action.content %}
    <div class="action-content">
      <div id="print-area-action-{{ action.pk }}">
        {% if action.content_type == action.CONTENT_TYPES.PLAIN_TEXT %}
          <p style="white-space: pre-line;">{{ action.content }}</p>
        {% elif action.content_type == action.CONTENT_TYPES.HTML %}
          {{ action.content|safe }}
        {% endif %}
      </div>
    </div>
    <button type="button" class="btn print" data-target="#print-area-action-{{ action.pk }}">
      <i class="icon-print"></i> {% trans 'inforequests:detail:action:print' %}
    </button>
  {% endif %}
  {% if forloop.last and not inforequest.closed and not inforequest.has_undecided_emails %}
    {% if action.has_obligee_deadline and action.deadline_missed %}
      <button type="button" class="btn btn-primary ajax ajax-modal-once with-tooltip"
              action="{% url 'inforequests:extend_deadline' inforequest.pk branch.pk action.pk %}"
              data-type="html" data-target="#extend-deadline-{{ action.pk }}-modal"
              data-fail-target="#ajax-fail-modal" data-toggle="tooltip" data-placement="right"
              title="{% spaceless %}{% include "inforequests/detail/tooltips/extend_deadline.txt" %}{% endspaceless %}">
        {% trans 'inforequests:detail:action:extend_deadline' %}
      </button>
      <span id="extend-deadline-{{ action.pk }}-modal" class="modal inforequest-ajax-modal hide fade"></span>
    {% endif %}
    {% if branch.can_add_clarification_response %}
      <a class="btn btn-primary with-tooltip" data-toggle="tooltip" data-placement="right"
         href="{% url 'inforequests:clarification_response' inforequest.pk branch.pk %}"
         title="{% spaceless %}{% include "inforequests/detail/tooltips/clarification_response.txt" %}{% endspaceless %}">
        {% trans 'inforequests:detail:action:clarification_response' %}
      </a>
    {% endif %}
    {% if branch.can_add_appeal %}
      <a class="btn btn-primary with-tooltip" data-toggle="tooltip" data-placement="right"
         href="{% url 'inforequests:appeal' inforequest.pk branch.pk %}"
         title="{% spaceless %}{% include "inforequests/detail/tooltips/appeal.txt" %}{% endspaceless %}">
        {% trans 'inforequests:detail:action:appeal' %}
      </a>
    {% endif %}
  {% endif %}
  {% for sub_branch in inforequest|method:'branches_advanced_by'|call_with:action %}
    <div class="well well-inverse">
      <div class="row-fluid">
        <p class="span2 text-right">{% trans 'inforequests:detail:action:advanced_to' %}:</p>
        <div class="span10">
          <p>{{ sub_branch.historicalobligee.name }}</p>
          <p>{{ sub_branch.historicalobligee.street }}<br>
            {{ sub_branch.historicalobligee.zip }} {{ sub_branch.historicalobligee.city }}</p>
        </div>
      </div>
      {% include "inforequests/detail/branch.html" with branch=sub_branch %}
    </div>
  {% endfor %}
</div>
