{# vim: set filetype=htmldjango :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}

{% if inforequest.undecided_emails_count >= 2 %}
  <div class="alert alert-info alert-block clearfix">
    {% include "inforequests/detail/texts/undecided_text.html" with inforequest=inforequest %}
    <p><button class="btn" data-toggle="collapse" data-target="#undecided-collapse">{% trans 'inforequests:detail:undecided:show' %}</button></p>
  </div>
  <div id="undecided-collapse" class="collapse">
    {% for email in inforequest.undecided_emails %}
      {% if forloop.counter >= 2 %}
        <div id="undecided-{{ email.pk }}" class="undecided well anchor">
          {% include "inforequests/detail/email.html" with inforequest=inforequest email=email %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
